.dolphin,
.snail,
 {
  @include animation(moving-straight 20s linear 0s infinite);
}
@include keyframes (moving-straight) {
  0% {
    @include transform(translate(-900px, 0%));
  }
  100% {
    @include transform(translate(2000px, 0%));
  }
}
.cloud1 {
  @include animation(moving-cloud1 20s linear 0s infinite);
}
.cloud2 {
  @include animation(moving-cloud1 20s linear 0s infinite);
}
.cloud3 {
  @include animation(moving-cloud1 20s linear 2s infinite);
}
@include keyframes (moving-cloud1) {
  0% {
    @include transform(translate(-900px, 0%));
    opacity: 1;
  }
  100% {
    @include transform(translate(1200px, 0%));
    opacity: 1;
  }
}
@include keyframes (moving-cloud2) {
  0% {
    @include transform(translate(-1000px, 0%));
  }
  100% {
    @include transform(translate(1000px, 0%));
  }
}
@include keyframes (moving-straight) {
  0% {
    @include transform(translate(-1200px, 0%));
  }
  100% {
    @include transform(translate(1200px, 0%));
  }
}
.slate {
  @include animation(fly-slate-animation 6s ease infinite);
}
@include keyframes (fly-slate-animation) {
  0% {
    @include transform(translateY(-5px));
  }
  50% {
    @include transform(translateY(5px));
  }
  100% {
    @include transform(translateY(-5px));
  }
}
// .rocket div {
//   @include animation(fly-rocket-animation 6s ease forwards);
// }
@include keyframes (fly-rocket-animation) {
  0% {
    @include transform(translate(0, 0));
  }
  100% {
    @include transform(translate(1002%,800%));
  }
}
.puppet {
  .guy2 {
    @include animation(v-shape-animation 5s ease infinite);
  }
  .bubble3 {
    @include animation(v-shape-animation 5s ease infinite);
    z-index: 1;
  }
  // .super-animation {
  //   @include animation(fly-superman-animation 5s infinite cubic-bezier(0.3, 0.27, 0.07, 1.64));
  // }
  .superman {
    @include animation( yAxis 5s infinite cubic-bezier(0.02, 0.01, 0.21, 1));
  }
}
// @keyframes yAxis {
//   50% {
//     @include animation-timing-function(cubic-bezier(0.02, 0.01, 0.21, 1));
//     @include transform(translateY(400px));
//   }
// }
@include keyframes (fly-superman-animation) {
  // 50% {
  //   -webkit-animation-timing-function: cubic-bezier(0.3, 0.27, 0.07, 1.64);
  //   @include animation-timing-function(cubic-bezier(0.3, 0.27, 0.07, 1.64));
  //   @include transform(translateX(400px));
  // }

  0% {
    @include transform(translate(0));
  }
  5% {
    @include transform(translate(110%,-90%) rotate(20deg));
  }
  10% {
    @include transform(translate(130%,-50%) rotate(30deg));
  }
  15% {
    @include transform(translate(200%,-30%) rotate(40deg));
  }
  20% {
    @include transform(translate(250%,0%) rotate(60deg));
  }
  25% {
    @include transform(translate(300%,-50%) rotate(60deg));
  }
  30% {
    @include transform(translate(400%,-90%) rotate(40deg));
  }
  35% {
    @include transform(translate(530%,-120%) rotate(20deg));
  }
  40% {
    @include transform(translate(560%,-130%) rotate(-0deg));
  }
  45% {
    @include transform(translate(590%,-140%) rotate(-20deg));
  }
  50% {
    @include transform(translate(620%,-150%) rotate(-40deg));
  }
  55% {
    @include transform(translate(650%,-160%) rotate(-60deg));
  }
  60% {
    @include transform(translate(680%,-180%) rotate(-80deg));
  }
  65% {
    @include transform(translate(710%,-200%)rotate(-110deg));
  }
  70% {
    @include transform(translate(740%,-140%)rotate(-150deg));
  }
  90% {
    @include transform(translate(80%,-10%)rotate(-50deg));
  }
  100% {
    @include transform(translate(0) rotate(0deg));
  }
}
@include keyframes(bounce) {
  0%,
  20%,
  50%,
  80%,
  100% {
    @include transform(translateY(0));
  }
  40% {
    @include transform(translateY(-25px));
  }
  60% {
    @include transform(translateY(-10px));
  }
}
@include keyframes(v-shape-animation) {
  0%,
  100% {
    @include transform(translate(0));
  }
  25%,
  75% {
    @include transform(translate(0px,60px)rotate(10deg));
  }
  50%,
   {
    @include transform(translate(40px,0px) rotate(20deg));
  }
}
.work {
  .swing {
    @include animation (balance 10s ease infinite);
    @include perspective(500);
    @include transform-origin(top);
  }
}
@include keyframes(balance) {
  0% {

  }
  15% {
    @include transform(rotateX(-20deg));
  }
  30% {
    @include transform(rotateX(20deg));
  }
  45% {
    @include transform(rotateX(-20deg));
  }
  60% {
    @include transform(rotateX(20deg));
  }
  75% {
    @include transform(rotateX(-20deg));
  }
  100% {
    @include transform(rotateX(0deg));
  }
}
