@include keyframes (moving-straight) {
  0% {
    @include transform(translate(-900px, 0%));
  }
  100% {
    @include transform(translate(2000px, 0%));
  }
}
.cloud1 {
  @include animation(moving-cloud1 20s linear 0s infinite);
}
.cloud2 {
  @include animation(moving-cloud1 20s linear 0s infinite);
}
.cloud3 {
  @include animation(moving-cloud1 20s linear 2s infinite);
}
@include keyframes (moving-cloud1) {
  0% {
    @include transform(translate(-900px, 0%));
    opacity: 1;
  }
  100% {
    @include transform(translate(1200px, 0%));
    opacity: 1;
  }
}
@include keyframes (moving-cloud2) {
  0% {
    @include transform(translate(-1000px, 0%));
  }
  100% {
    @include transform(translate(1000px, 0%));
  }
}
@include keyframes (moving-straight) {
  0% {
    @include transform(translate(-1200px, 0%));
  }
  100% {
    @include transform(translate(1200px, 0%));
  }
}
.slate {
  @include animation(fly-slate-animation 6s ease infinite);
}
@include keyframes (fly-slate-animation) {
  0% {
    @include transform(translateY(-5px));
  }
  50% {
    @include transform(translateY(5px));
  }
  100% {
    @include transform(translateY(-5px));
  }
}
@include keyframes (fly-rocket-animation) {
  0% {
    @include transform(translate(0, 0));
  }
  100% {
    @include transform(translate(1002%,800%));
  }
}
.puppet {
  .guy2.animation {
    @include animation(v-shape-animation 5s ease infinite);
  }
  .bubble3.animaton {
    @include animation(v-shape-animation 5s ease infinite);
    z-index: 1;
  }
  .supermans {
    @include animation( fly-superman-animation 20s ease);
    @include transition(all ease 300ms);
  }
}

@keyframes fly-superman-animation {
	0% {@include transform(translate(-100%,-150%) rotate(40deg)); }
	40% {@include transform(translate(700%, -150%) rotate(40deg));}
	42% {@include transform(translate(700%, -150%) rotate(-140deg));}
	85% {@include transform(translate(-300%,-150%) rotate(-140deg));}
	90% {@include transform(translate(-250%, 100%) rotate(0));}
	100% {@include transform(translate(-50%,-50%) rotate(0));}
}
@include keyframes(bounce) {
  0%,
  20%,
  50%,
  80%,
  100% {
    @include transform(translateY(0));
  }
  40% {
    @include transform(translateY(-25px));
  }
  60% {
    @include transform(translateY(-10px));
  }
}
@include keyframes(v-shape-animation) {
  0%,
  100% {
    @include transform(translate(0));
  }
  25%,
  75% {
    @include transform(translate(0px,60px)rotate(10deg));
  }
  50%,
   {
    @include transform(translate(40px,0px) rotate(20deg));
  }
}
.work {
  .swing {
    @include animation (balance 10s ease infinite);
    @include perspective(500);
    @include transform-origin(top);
  }
}
@include keyframes(balance) {
  0% {

  }
  15% {
    @include transform(rotateX(-20deg));
  }
  30% {
    @include transform(rotateX(20deg));
  }
  45% {
    @include transform(rotateX(-20deg));
  }
  60% {
    @include transform(rotateX(20deg));
  }
  75% {
    @include transform(rotateX(-20deg));
  }
  100% {
    @include transform(rotateX(0deg));
  }
}
