.aloha-floor {
    background: $brand-grey url(../img/common-floor.png);
}

.services-floor {
    background: $brand-bluelight url(../img/common-floor.png);
}

.unpluged-floor {
    background: $brand-unpluged-light url(../img/common-floor.png);
}

.subscribe-floor {
    background: $brand-subscribe-light url(../img/common-floor.png);
}

.client-floor {
    background: $brand-clent url(../img/common-floor.png);
}

.client-speak-floor {
    background: $brand-clientspeaklight url(../img/common-floor.png);
}

.media-floor {
    background: $brand-media url(../img/common-floor.png);
}

// .about-floor {
//     background: $brand-subscribe-light url(../img/common-floor.png);
// }
.service-floor {
    background: $brand-grey url(../img/common-floor.png);
}

.contact-floor {
    background: $brand-contact-light url(../img/common-floor.png);
}

.payment-floor {
    background: $brand-green-light url(../img/common-floor.png);
}

.about-do-floor {
    background: $brand-purple url(../img/common-floor.png);
}

.d-inline-block {
    display: inline-block;
}

.white-color {
    color: white;
    &:hover {
        color: white;
    }
}