
@media (min-width: $screen-md-min)  {
    .nav > li > a{
      padding: 14px 7px;
    }
  .section#home ,.bg-unplugged,.bg-contact{
    min-height: 655px !important;
    }

    .hq-bg .hq-confess {
      top: 226px;
    }
    .section-ngu .ngu {
      top: 215px;
    }
    .blue-bg {
      height: 70vh !important;
  }
  .blue-bg .music-headset {
    bottom: 6%;
}
.service-common .window-right{
    top: 200px
}
}