
@media (max-width: 1200px) {

  //scss for service page
  .payment .locker {
    top: 290px;
  }
  .employer-branding .window-right{
    top: 245px !important;
  
  }
  .section#home {
  min-height: 670px ; 
}
// .blue-bg {
//   height: 40vh !important;
// }
  .service-common .window-right {
    top: 230px;
  }

  .workshops .hq-cont-yellow {
    height: 510px !important;
  }

  .happiness .window-right {
    top: 208px !important;
  }

  //scss for service page end
  //section .gif-img
  .about-people {
    top: 135px;
  }

  .blue-bg .classroom .teacher {
    bottom: 15%;
    left: 12%;
  }

  .blue-bg .music-headset {
    bottom: 12%;
    left: 50%;
  }

  .blue-bg .floor-aside {
    left: 68%;
  }

  .blue-bg .overboard {
    bottom: 2%;
  }

  //END section .gif-img
  // .media images font-size
  .services .services-badge figcaption {
    font-size: 12px;
  }

  // Unplugged Section css
  .unplugged .stress .statistics {
    li {
      // margin: 0 22px;
    }

    .unplugged .stress .statistics li {
      padding: 0 30px;
    }

    .stat-count {
      text-align: left;
    }
  }

  // .navbar-default .navbar-nav {
  //   padding: 0;
  // } // .nav>li>a {
  //   position: relative;
  //   display: block;
  //   padding: 10px 12px;
  // }
  // .unplugged .stress-sec3 .gif-img {
  //   bottom: -34%;
  //   left: 20%;
  // }
  .unplugged .disclaim {
    margin-top: 50px;
  }

  // End Unplugged Section css
  .client-slider .slider-client .flex-direction-nav .flex-next {
    // right: -30px;
    right: -25px;
  }

  .client-slider .slider-client .flex-direction-nav .flex-prev {
    // left: -30px;
    left: -35px;
  }

  .about-info {
    width: 90%;
  }

  .client-speaks {

    // .home-head {
    //   padding-left: 35px;
    // }
    .flex-direction-nav .flex-prev {
      left: -310px !important;
    }

    .flex-direction-nav .flex-next {
      right: -25px !important;
    }
  }

  .hq-img {
    right: 100px;
  }

  .talking {
    .logos {
      img {
        width: 100px;
      }
    }
  }

  .window-left {
    left: -270px;
  }

  .thought,
  .client {
    .logo-opt {
      height: 100px;
    }

    .content.mt {
      margin-top: 0;
    }
  }

  .testimonials .flexslider-container {
    width: 650px;
    margin: 0 auto;
  }

  .contact-boy {
    left: 45%;
  }

  .email {
    left: 50%;
  }

  .girl img {
    width: 60%;
  }

  .boy {
    left: 26%;

    img {
      width: 44%;
    }
  }

  .contact-girl {
    left: 32%;
  }

  .contact-boy,
  .email,
  .contact-girl {
    img {
      width: 75%;
    }
  }

  .tab-menu ul {
    padding-left: 0;
  }

  .tabs .people img {
    width: 240px;
    right: 5px;
  }

  .hq-cont-yellow .head-yellow {
    font-size: 26px;

    img {
      height: 50px;
    }
  }

  .window-left {
    left: -300px !important;
  }

  .awsomeness {
    min-height: 592px;
  }
}




// @media (max-width:350px) and (max-width:600px) {}
@media (max-width:480px) {
  .blue-bg .plant .mb-plantshow {
    bottom: 34%;
    left: 2%;
  }

  .blue-bg .plant .plant-right {
    right: 2%;
    bottom: 34%;
  }

  .blue-bg .classroom .teacher {
    bottom: 24%;
    left: 0;
    width: 35%;
  }

  .blue-bg .floor-aside {
    bottom: 22%;
    width: 35%;
    left: 76%;
  }

  .blue-bg .overboard {
    bottom: 14%;
    width: 180%;
    max-width: inherit;
  }

  .floor-height {
    height: 288px;

    img {
      height: 100%;
    }
  }

  // Unplugged Css Here
  .unplugged .unplugged-img .unplug__img {
    width: 50%;
  }

  .unplugged .stress-sec3 p {
    width: 100%;
  }

  .unplugged .stress-sec3 .gif-img {
    // bottom: -44%;
    // left: 10%;
    bottom: -48%;
    left: 44%;
    display: none;
  }

  .stat-count {
    li {
      display: block;

      p {
        text-align: center;
      }
    }
  }

  .unplugged .stress .statistics li+li {
    padding: 0;
    margin-top: 15px;
    border: none;

    &:before {
      content: '';
      display: block;
      position: absolute;
      border: 1px solid #ff6e3d;
      width: 150px;
      top: 0;
      height: 0;
      left: 50%;
      margin: -8px 0;
      transform: translate(-50%, 0);
    }
  }

  //End Unplugged Css Here
  .home {

    .lights1,
    .lights2 {
      width: 12%;
    }
  }

  .thought {
    .logo-opt {
      height: 140px;
    }
  }

  .work {
    .client-speak {
      .shopper-stop {
        .etnow {
          left: -3px;
        }
      }

      .content {
        padding: 10px 0 0;
      }
    }

    .content {
      padding-top: 0;
    }
  }

  .client-speaks .slider-client .flexslider {
        width: 300px !important;
        margin: 0 auto;
      }
  

  .talking {
    .row-flex {
      flex-wrap: wrap;
    }

    .flex-md {
      flex: auto;
    }
  }

  .testimonials {
    .flexslider-container {
      zoom: 0.7;
    }
  }

  .subscribe {
    .subscribe-me input {
      width: 100%;
    }

    form button.submit {
      padding: 9px;
      font-size: 11px;
    }
  }

  .hq-cont-yellow .head-yellow {
    font-size: 16px;

    img {
      height: 40px;
    }
  }

  .thought {
    .logo-opt img {
      width: 33%;
    }

    .logos img {
      width: 100px;
    }
  }

  .hq-bg .clock img {
    width: 50%;
  }

  .image-holder img {
    height: auto !important;
    width: 100px !important;
    margin: 0 auto;
  }

  .awsomeness {
    min-height: auto; // .puppet {
    //   min-height: 200px;
    //   .bubble2,
    //   .chair,
    //   .logo-home,
    //   .lady2,
    //   .bubble4,
    //   .bubble5,
    //   .guy1 {
    //     bottom: 250px;
    //   }
    //   .lady1 {
    //     bottom: 240px;
    //   }
    // }
  }

  .awsomeness {
    .puppet {
      .guy2 {
        bottom: 38%;
        top: inherit;
      }

      .lady1 {
        bottom: 140px;
      }

      .home-lady2 {
        bottom: 140px;
      }

      .home-guy1 {
        bottom: 128px;
      }
    }
  }

  .services figcaption {
    font-size: 10px;
    height: 35px !important;
  }

  .hq-bg .hq-logo img {
    width: 60%;
  }

  // .about-info, .services .services-info, .contact-detail, .hq-info, .media-head{
  //     width: 100% !important;
  // }

  // .services .services-badge {
  //     width: 106%;
  //   }
}

@media screen and (max-device-width: 580px) and (orientation: landscape) {
  .awsomeness {
    min-height: auto;

    .puppet {

      .bubble2,
      .logo-home,
      .chair,
      .lady2,
      .bubble4,
      .bubble5,
      .guy1 {
        top: 60%;
      }
    }
  }
}

@media (max-width: $screen-xs-max) and (orientation: landscape) {
  .awsomeness {
    .puppet {

      .lady1,
      .chair-home,
      .home-lady2,
        {
        bottom: 55px;
      }

      .home .lights1,
      .home .lights2 {
        width: 8%;
      }

      .home-guy1 {
        bottom: 70px;
      }

      .lights {
        bottom: 70px;
      }

      .guy2 {
        top: 40%;
      }
    }
  }

  .home .all-windows-home {
    top: 27%;
  }

  .min-hgt {
    min-height: 500px;
  }

  .min-hgt-hq {
    min-height: 530px;
  }

  .home .lights1,
  .home .lights2 {
    width: 8%;
  }

  .awsomeness img.door-home {
    bottom: 90px;
  }

  .subscribe {
    height: 450px;
  }
}
