@media (max-width: $screen-xs-max) {
  .mike {
    right: 22%;

    img {
      width: 45%;
    }
  }


  //scss for service inner page stratr
  .blue-bg .lamp .lamp-left,
  .blue-bg .lamp .lamp-right {
    width: 8%;
  }

  form button.submit {
    margin-bottom: 20px;
  }

  .client-speaks .slider-client .cont {
    height: 305px;
  }

  .consulting {
    .grass {
      left: 0;
    }

    .wheel {
      left: 25%;
    }
  }

  .media .window-right {
    display: none;
  }

  .employer-branding .grass,
  .internal .grass,
  .happiness .grass,
  .workspace .grass {
    left: 4%;
    bottom: -8%;
  }

  .section#home {
    min-height: 310px !important;
  }

  //scss for service inner page end
  //scss for payment page  start
  .payment {
    .cont {
      min-height: 450px
    }
  }

  .payment .locker {
    top: auto;
    right: 0;
    bottom: -90px;
    width: 180px;

    img {
      width: 100%;
    }

    /* margin: 0 auto; */
  }

  .payment .sub-head {
    font-size: 18px;
  }

  .payment .container {
    padding: 0 20px;
  }

  //scss for payment page end
  //scss for about-do page started
  .about-do-people img {
    width: 60%;
    margin-top: 30px;
    margin-bottom: -75px;
  }

  .about .abt-cont .container {
    padding: 0 20px;
  }

  .about .cont-main {
    padding-right: 0px;
  }

  //scss for about -do page end
  //scss for awesomeness page start
  .talking .container,
  .thought .container,
  .testimonials .container,
  .work .container {
    padding: 0 20px;
  }

  .scrolltotop {
    z-index: 9;
  }

  //scss for awesomeness page end
  //scss for hearder start
  .navbar-nav>li {
    float: none;
  }

  .navbar-brand {
    top: -8px;

    img {
      width: 70px;
    }
  }

  .navbar-fixed-top .navbar-collapse {
    max-height: 210px;
    overflow: scroll;
  }

  //scss for hearder end
  //scss for home page start
  .subscribe iframe {
    min-height: 100vh;
  }

  .about-info {
    min-height: 650px;
  }

  .form-control {
    font-size: 12px;
  }

  .section-ngu .content {
    min-height: 590px;
  }

  .about-people {
    bottom: -30px;
    width: 100%;
    top: auto !important;
  }

  .unplugged .unplug-relate .padd20 {
    padding: 0 5px;
    min-height: 770px;
  }

  .blue-bg {
    height: 45vh !important;
  }

  .section-ngu .content {
    padding-left: 0px;
    width: 100%;
  }

  .services .container {
    padding: 0 20px;
  }

  .ngu-2 {
    .home-head {
      padding-bottom: 10px
    }
  }

  .services .home-head {
    padding: 20px 0 15px 0;
  }

  .home-head,
  .services .home-head {
    font-size: 30px !important;
  }

  .blue-bg .music-headset {
    width: 75%;
    bottom: 8%;
  }

  .blue-bg .center-img .floor-table {
    width: 100%;
    bottom: 0;
    left: 50%;
  }

  .min-hgt {
    min-height: 630px !important
  }

  .home-head {
    font-size: 30px;
  }

  .section-ngu .content {
    top: 30px;
  }

  .services {

    .lamp,
      {
      display: none;
    }
  }

  .services .slider {
    width: 80px;
  }

  .services .grass {
    width: 30px;
    left: 12%;
    bottom: 32px;
  }

  .media .xerox img {
    left: 45%;
  }

  .subscribe {
    padding-top: 0px;
  }

  .hq-bg .hq-info {
    min-height: 650px;
    padding-top: 65px;
    padding-bottom: 0px;
  }

  .hq .hq-descp {
    padding-top: 30px;
  }

  .client-speaks {
    .book img {
      width: 50px;
      top: 0;
      right: 6%;
    }

    .grass img {
      bottom: -50px;
      width: 20%;
    }
  }

  .contact-people {
    height: 0;
  }

  .contact-detail a,
  .contact-detail span {
    font-size: 12px;
  }

  //scss for home page end
  // .section {
  //   min-height: auto !important;
  // }
  //header
  .awsomeness-header .navbar-default .navbar-nav {
    padding-left: 0;
  }

  // Awesomeness css here
  .best-award h1 {
    font-size: 22px;
    text-align: left;
  }

  li p:nth-child(1) {
    font-size: 14px;
    letter-spacing: 0;
  }

  .subscribe .subscribe-me {
    width: 80%;
    margin: 50px auto;

    input {
      width: 100%;
      margin-bottom: 10px;
    }

    button {
      width: 250px;
      margin: 0 auto;
    }
  }

  .hq-bg {
    .hq-confess {
      top: auto !important;
      bottom: -30px;
      width: 275px;
      left: 0;
    }
  }

  .award2 {
    position: inherit;
    margin-bottom: 30px;
  }

  .encore {
    margin-bottom: 0;
  }

  // Unplugged Section css
  .unplugged-img {
    width: initial;
    padding-bottom: 15px;
  }

  .contact-detail {
    padding: 0 0 15px 0;
  }

  .unplugged .unplug-relate .lamps {
    display: none;
  }

  .unplugged .unplugged-img .unplug__img {
    width: 50%;
  }

  .unplugged .stress-sec3 .gif-img {
    top: 498px;
    right: 0;
    width: 180px;
  }

  // .unplugged .stress-sec3 p {
  //   width: 100%;
  // }
  // .unplugged .disclaim {
  //   margin-top: 150px;
  // }
  .unplugged .disclaim {
    // margin-top: 120px;
    margin-top: 0;
  }

  //End Unplugged Section css
  .center-aligned {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    @include transform(translate(-50%, -50%));
  }

  .img-awards img {
    position: static;
    width: 180px;
  }

  .mobile-pb {
    padding-bottom: 20px;
  }

  .navbar-default {
    .navbar-nav {
      padding-left: 0;
      text-align: center;
      margin-top: 0;
      margin-bottom: 0;

      li+li {
        border-top: 1px solid #fff;
      }

      li {
        a {
          padding: 10px 15px;
        }
      }
    }

    .navbar-toggle {
      border-color: transparent;

      &:hover,
      &:focus {
        background-color: transparent;
      }

      .icon-bar {
        background-color: #fff;
      }
    }
  }

  .puppet {
    min-height: 0 !important;
  }

  .awsomeness {
    .sky {
      height: 150px;
    }

    .placing {
      .puppet {
        min-height: 0 !important;

        .bubble3 {
          top: 40%;
        }

        .bubble1 {
          top: 24%;
        }

        .lady1 {
          bottom: 235px;
        }

        .bubble4,
        .bubble2,
        .bubble5,
        .lady2,
        .guy1 {
          bottom: 0;
        }

        .chair {
          bottom: 0;
        }
      }
    }
  }

  .consulting .lamp {
    top: -17%;
  }

  .tab-menu {
    position: absolute;
    right: 0;
    top: -20px;
    z-index: 99;
    background: transparent;
    width: 100%;

    button.navbar-toggle {
      border: 1px solid transparent;
      float: left;
      margin-left: 5px;

      &.collapsed {
        float: left;
      }

      .icon-bar {
        border: 1px solid #FFCA20;
      }
    }

    ul {
      padding-left: 0;
    }

    .navbar-collapse {
      background: #FFCA20;
      max-height: 210px;
    }
  }

  .employer-branding .lamp img,
  .digital .lamp img,
  .internal .lamp img,
  .workspace .lamp img {
    width: 80px;
  }

  .quirky .lamp {
    top: -15%;
  }

  .employer-branding .lamp,
  .digital .lamp,
  .internal .lamp,
    {
    top: -14%;
  }

  .workspace .lamp {
    top: -16%;
  }

  .corporate .lamp {
    top: -22%;

    img {
      width: 45px;
    }
  }

  .workshops .wheel {
    display: none;
  }

  .blue-bg,
  .client-speak,
  .bg-unplugged,
  .hq-bg,
  .section-ngu {
    background-size: 265%;
  }

  .tabs .people img {
    display: none;
  }

  .workshops .lamp {
    top: -14%;
    right: 11.5%;
  }

  .hq-cont-yellow {
    padding-top: 50px;
    min-height: 590px;
  }

  .workshops .hq-cont-yellow {
    height: 750px !important;
  }

  .hq-cont-yellow .head-yellow {
    font-family: "Montserrat-Semibold";
  }

  .happiness .lamp img {
    width: 48%;
  }

  .workspace .window-right {
    width: 200px !important;
  }

  .quirky .window-right {
    width: 220px;
    ;
  }

  .corporate .window-right {
    bottom: -30px !important;
    width: 200px !important;
  }

  .internal .grass {
    bottom: -4% !important
  }

  .internal .hq-cont-yellow {
    height: 700px !important;
  }

  .internal .window-right {
    bottom: -40px;
  }

  .happiness .window-right {
    width: 220px;
  }

  .digital .window-right img {
    width: 200px;
  }

  .employer-branding .window-right {
    width: 200px;
  }

  .employer-branding .grass img,
  .internal .grass img,
  .workspace .grass img,
  .happiness .grass img {
    width: 40px;
  }

  .service-common .window-right {
    top: auto;
    bottom: -30px;
    width: 250px;
  }

  .awsomeness {
    min-height: auto;

    .puppet {
      .bubble5 {
        right: 6%;
        bottom: 150px;
      }

      .bubble2 {
        bottom: 180px;
      }
    }
  }

  .hq-img {
    position: inherit;
  }

  .window-left {
    display: none;
  }

  ul.flex-direction-nav {
    zoom: 0.6;
  }

  // .floor {
  //   display: none;
  // }
  #home .floor {
    display: block;
  }

  .coffee {
    bottom: 4%;
  }

  .puppet {
    min-height: 380px;
  }

  .section-ngu {
    min-height: 626px !important;

    .dolphin {
      display: none;
    }

    .snail {
      display: none;
    }

    .rocket {
      top: 30%;
    }
  }

  .talking {
    .content-opt {
      .logo-opt img {
        width: auto;
      }
    }

    .logos img {
      width: 80px;
    }
  }

  .services {
    .home-head {
      font-size: 40px;
    }

    .coffee {
      display: none;
    }

    figcaption {
      height: 55px !important;
      font-size: 14px;
      line-height: 1;
    }
  }

  .hq-bg {
    .social-links {
      display: none;

      ul {
        z-index: 5;
        margin: 0;

        li {
          i {
            font-size: 18px;
          }

          img {
            width: 30px;
          }
        }
      }
    }
  }

  .work {
    .client-speak {
      .content {
        height: auto;
      }
    }
  }

  // .window-right {
  //   display: none;
  // }
  .window-left {
    display: none;
  }

  .thought {
    .bb {
      border: 0;
    }

    .logo-opt {
      height: 140px;
    }
  }

  .smile-logo {

    .smilelogo,
    .bcpt,
    .yesfoundation {
      width: 30%;
    }
  }

  .work {

    .swing,
    .window {
      display: none;
    }
  }

  .testimonials {
    .bx-pd {
      padding: 20px 0;
    }

    .nut,
    .pot {
      display: none;
    }
  }

  .head-main {
    font-size: 30px;
  }

  .box-white {
    padding: 20px;
  }

  .client-speaks {
    .client-desk {
      float: none;
      zoom: 1 !important;

      .home-head {
        font-size: 40px;
      }

      .client {
        display: none;
      }
    }

    .slider-client {
      float: none;
      zoom: 0.8;

      .flexslider {
        width: 300px !important;
        margin: 0 auto;
      }

      .flex-direction-nav .flex-next {
        right: -100px !important;
      }

      .flex-direction-nav .flex-prev {
        left: -100px !important;
      }
    }
  }

  .media {
    .media-cont {
      width: 97%;

      .media-imgholder {
        padding: 10px;
      }
    }

    .media-head {
      padding-left: 0;
      padding-bottom: 10px;
    }

    .media-partners {
      background: #fff;
      padding: 10px;
      margin-right: 20px;
    }
  }

  .wifi {
    display: none;
  }

  .girl,
  .boy {
    display: none;
  }

  .contact-boy,
  .email,
  .contact-girl,
  .news {
    display: none;
  }

  .abt-cont {
    padding: 50px 0 50px 0px;
  }

  .client .client-happy {
    bottom: 35px;
    right: 8%;
    width: 8%;
  }

  .about {
    .cont-main {
      .salute-left {
        width: 40px;
        left: -45px;
      }

      img.width-right {
        width: 38px;
        right: 10px;
      }

      img.thumbsup-right {
        width: 65px;
      }

      .clock-right {
        width: 50px;
        right: 10px;
      }
    }

    .min-hght {
      display: none;
    }
  }

  .social-icon {
    margin: 20px 0;
  }

  footer .nav-footer ul {
    font-size: 12px;

    // li {
    //   display: block;
    // }
    li+li {
      border-left: 0;
    }
  }

  footer .footer-cont p {
    font-size: 10px
  }

  .font-12 {
    font-size: 12px;
  }

  .thought .logo-opt img {
    width: auto;
  }

  .box-red {
    .row-flex {
      display: block;

      .img-busniess img {
        width: 100%;
      }
    }
  }

  .content-busniess {
    padding: 10px 0 0;
  }

  .img-busniess {
    width: 200px;
  }

  footer .nav-footer ul {
    padding-left: 0;
  }

  .client-slider {
    min-height: auto;
  }

  .home {

    .lights1,
    .lights2 {
      width: 12%;
    }

    .lights1 {
      left: 10%;
    }

    .lights2 {
      right: 10%;
    }
  }

  .section-ngu .slate {
    z-index: 999;
    top: 45px;
  }

  nav li:hover a.menu-custom:before,
  nav li.active a.menu-custom:before {
    width: 0;
    height: 0;
  }

  .about-info,
  .services .services-info,
  .contact-detail,
  .hq-info,
  .media-head,
  .section-ngu .content p {
    width: 100% !important;
  }

  .services .services-badge {
    margin: 0 auto;
  }

  .media .media-partners {
    margin-right: 0;
  }

  .media .media-cont .media-head {
    padding-left: 0;
    padding-top: 20px;

    .home-head {
      padding-bottom: 15px
    }
  }

  .services {
    .pt100 {
      padding-top: 50px;
    }
  }

  .hq-padding {
    min-height: 480px !important;

    .pt100 {
      padding-top: 50px;
    }

    .about-us,
    .contactus,
      {
      padding: 0px 0;
    }
  }

  .hq-spacing {
    min-height: 626px !important;

    .pt100 {
      padding-top: 50px;
    }
  }

  .media-ngu {
    .pt100 {
      padding-top: 50px;
    }
  }

  .media .pb140 {
    padding-bottom: 20px;
  }

  .unplugged {
    .stress {
      // margin-left: 0;
      margin: 20px 0 0 0;
    }

    .stress-sec3 {
      margin: 0;
    }
  }

  //scss for aloha section
  .ngu-2 .lamp-left {
    top: -10px;

    img {
      width: 50px;
    }
  }

  .ngu-2 .lamp {
    top: -10px;

    img {
      width: 50px;
    }
  }

  .ngu-2 .grass {
    bottom: 30px;

    img {
      width: 30px;
    }
  }

  .section-ngu {
    .ngu {
      width: 220px;
      top: auto;
      bottom: -30px;
    }
  }

  .section#unplugged {
    min-height: 620px !important;
  }

  .hq .lamp1 {
    width: 50px;
    top: -5px;
  }

  .hq .lamp2 {
    width: 50px;
    top: -3%;
  }

  .tab-menu {
    .menu {
      position: fixed;
      top: 8%;
      left: -50%;
      width: 42%;
      height: 100%;
      z-index: 999;
      background-color: #FFCA20;
      text-align: left;
      color: $brand-brown;
      font-size: 22px;
      padding: 60px 0;
      @include transition(all 700ms ease);
      @include transform(translateX(-100%));

      &.show {
        @include transform(translateX(0));
        left: 0%;
      }

      a {
        color: white;
        padding: 10px 0;
        display: block;
        max-width: 230px;
        text-align: left;
        margin: 0 auto;
        font-size: 18px;
        @include transition(all 700ms ease);
      }
    }

    .menu-circle {
      background-color: transparent;
      height: 30px;
      width: 30px;
      padding: 2px;
      position: fixed;
      left: 4%;
      top: 14%;
      z-index: 9999;
      /* border-radius: 100%; */
      cursor: pointer;
      text-align: center;

      .hide-it {
        opacity: 0;
      }

      .show-it {
        opacity: 1;
      }

      i.fa-angle-up {
        color: white;
        font-size: 35px;
        line-height: 23px;
      }

      &.bottom {
        top: auto;
        bottom: 35px;
      }

      .bar {
        display: block;
        height: 2px;
        width: 24px;
        background-color: #3b2415;
        margin: 5px auto;
        @include transition(all 700ms ease);
      }
    }

    .closer {
      .bar2 {
        opacity: 0;
      }

      .bar1 {
        transform: rotate(45deg) translate(4px, 6px);
      }

      .bar3 {
        transform: rotate(-45deg) translate(4px, -6px);
      }
    }
  }

  //scss for header
  header {
    .navbar-default .navbar-nav {
      padding-left: 15px !important;
    }

    .menu-new {
      position: fixed;
      top: 8%;
      right: -150%;
      width: 50%;
      height: 100%;
      padding: 15px 0;
      z-index: 999;
      background-color: #3b2415;
      text-align: left;
      color: white;
      @include transition(all 700ms ease);
      @include transform(translateX(-100%));

      &.show {
        @include transform(translateX(0));
        right: 0%;
      }

      a {
        color: white;
        padding: 10px 0;
        display: block;
        max-width: 230px;
        text-align: left;
        margin: 0 auto;
        font-size: 12px;
        @include transition(all 700ms ease);
      }

      .navbar-default .navbar-nav {
        padding-left: 15px;
      }
    }

    .menu-circle {
      background-color: transparent;
      height: 30px;
      width: 30px;
      padding: 2px;
      position: fixed;
      right: 5%;
      top: 5%;
      z-index: 9999;
      /* border-radius: 100%; */
      cursor: pointer;
      text-align: center;

      .hide-it {
        opacity: 0;
      }

      .show-it {
        opacity: 1;
      }

      i.fa-angle-up {
        color: white;
        font-size: 35px;
        line-height: 23px;
      }

      &.bottom {
        top: auto;
        bottom: 35px;
      }

      .bar {
        display: block;
        height: 2px;
        width: 24px;
        background-color: white;
        margin: 5px auto;
        @include transition(all 700ms ease);
      }
    }

    .closer {
      .bar2 {
        opacity: 0;
      }

      .bar1 {
        transform: rotate(45deg) translate(4px, 6px);
      }

      .bar3 {
        transform: rotate(-45deg) translate(4px, -6px);
      }
    }
  }

  .services .services-badge .col-md-4 figure .ring {
    left: 8%;

    img {
      width: 84%;
    }
  }
}