@import url(https://fonts.googleapis.com/css?family=Exo+2|Lato:400,100,300,700,900);
@import "../bower_components/bourbon/app/assets/stylesheets/bourbon";
@import "../bower_components/bootstrap-sass/assets/stylesheets/bootstrap/mixins";
@import "../bower_components/bootstrap-sass/assets/stylesheets/bootstrap-sprockets";
@import "../bower_components/flexslider/flexslider.css";
@import "../bower_components/font-awesome/css/font-awesome.min.css";

/* Bootstrap Variables Goes Here */
$brand-primary: #0d9dff !default;
$brand-success: #84ce3c !default;
$brand-warning: #ffec39 !default;
$brand-danger: #fc483f !default;
$brand-info: #000072 !default;
$bg-color: #89d5f6!default;
$font-color: #3b2417!default;
$border-color: #959595!default;
$box-red-color: #8a2f1d!default;
$box-yellow-color: #ffb21d!default;
$box-black-color: #272727!default;
$font-family-sans-serif: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif !default;
$font-family-serif: "Lato", Georgia, "Times New Roman", Times, serif !default;
@import "../bower_components/bootstrap-sass/assets/stylesheets/bootstrap";
img.loading {
  text-align: center;
  opacity: 1;
  width: 32px !important;
  height: auto;
}
img {
  opacity: 0;
  @include transition(all 300ms ease);
}
img.doneLoading {
  opacity: 1;
}
.navbar-brand {
  padding: 0;
  position: relative;
  top: -20px;
}
.navbar-default {
  background-color: #ffca20;
  border-color: #ffca20;
  a {
    font-size: 16px;
    &:hover {
      background-color: darken(#ffca20, 10%)!important;
      border-color: darken(#ffca20, 10%);
    }
  }
}
nav li:hover .dropdown-menu {
  display: block;
}
.bg-blue {
  background: $bg-color;
}
.bold {
  font-weight: 600;
}
a {
  cursor: pointer;
  color: $font-color;
  &:hover,
  &:focus {
    text-decoration: none;
    color: $font-color;
  }
}
a:focus {
  outline: none;
  outline: 0;
}
.row-flex {
  display: flex;
}
.flex-md {
  flex: 1;
}
.flex-md-4 {
  flex: 1;
}
.flex-md-8 {
  flex: 3;
}
.box-white {
  background: #fff;
  padding: 30px;
  margin: 20px 0;
}
.box-red {
  background: $box-red-color;
  padding: 30px;
  margin: 20px 0;
  color: #fff;
}
.box-yellow {
  background: $box-yellow-color;
  padding: 10px;
  margin: 5px 0;
  color: $box-red-color;
}
.box-black {
  background: $box-black-color;
  padding: 30px;
  margin: 20px 0;
  color: #fff;
}
.bb {
  border-bottom: 1px solid $border-color;
}
.head-main {
  font-size: 40px;
  font-weight: 500;
}
.ps-50 {
  padding: 20px 50px;
}
.sticky-bottom {
  position: absolute;
  top: 0;
  width: 100%;
  left: 0;
  z-index: 99;
  @include transition(all 700ms ease);
  &.affix {
    position: fixed;
    top: 0;
    bottom: auto;
    width: 100%;
    left: 0;
    z-index: 999;
  }
}
p {
  text-align: justify;
  font-size: 16px;
  font-weight: 300;
}
.sticky-bottom {
  top: calc(100% - 0px);
}
.section {
  position: relative;
  min-height: 500px;
  overflow: hidden;
}
.helper {
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}
.awsomeness {
  .sky {
    height: 230px;
    position: relative;
    .sun {
      position: absolute;
      width: 20%;
      right: 14%;
      top: 0;
    }
    .cloud {
      position: absolute;
    }
    .cloud3 {
      left: 4%;
      width: 16%;
      top: 60%;
    }
    .cloud2 {
      left: 12%;
      top: 25%;
      width: 20%;
    }
    .cloud1 {
      right: 24%;
      top: 40%;
      width: 20%;
    }
  }
  .head {
    padding-top: 10px;
    img {
      width: 32%;
    }
  }
  .puppet {
    min-height: 250px;
    position: relative;
    img {
      position: absolute;
    }
    .bubble1 {
      width: 13%;
      left: 5%;
      bottom: 40%;
    }
    .superman {
      left: 10%;
      width: 13%;
      bottom: 50%;
    }
    .bubble2 {
      left: 29%;
      width: 12%;
      bottom: 55px;
      @include transform (rotate(90deg));
    }
    .chair {
      left: 14%;
      width: 20%;
      bottom: -15px;
    }
    .lady1 {
      left: 29%;
      width: 12%;
      bottom: -36px;
    }
    .bubble3 {
      right: 42%;
      width: 12%;
      bottom: 5%;
    }
    .guy2 {
      right: 40%;
      width: 12%;
      bottom: 10%;
    }
    .bubble4 {
      bottom: 20px;
      right: 26%;
      width: 15%;
    }
    .lady2 {
      bottom: -35px;
      right: 26%;
      width: 12%;
    }
    .guy1 {
      right: 5%;
      bottom: -35px;
      width: 16%;
    }
    .bubble5 {
      right: 20px;
      bottom: -35px;
      width: 16%;
    }
  }
}
.work {
  .bubble1 {
    position: relative;
    top: 35px;
    left: 67%;
    @include transform(rotate(-70deg));
  }
  .swing {
    width: 55%;
    position: relative;
    z-index: 2;
    left: 10%;
    top: 40px;
  }
  .window {
    position: absolute;
    z-index: 1;
    right: 7%;
    width: 40%;
    top: 50%;
  }
  .content {
    .head {
      font-size: 40px;
      font-weight: 300;
      color: $font-color;
    }
    p {
      color: $font-color;
      text-align: justify;
    }
  }
  .areoplane {
    padding: 30px 0 35px;
    width: 100px;
  }
  .client-speak {
    .content {
      padding: 10px 20px 0;
      p {
        text-align: justify;
      }
    }
    .logo {
      height: 120px;
    }
    .shopper-stop {
      .logo-shoper {
        margin: 0 0 10px;
      }
      .limca {
        width: 85%;
      }
      .prize {
        width: 160px;
        margin: 10px auto;
      }
      .etnow {
        position: absolute;
        top: 50%;
        left: -35px;
        @include transform (translateY(35%));
        width: 80%;
      }
    }
  }
  .logos {
    margin-bottom: 15px;
  }
}
.talking {
  .logo {
    height: 150px;
  }
  .content-opt {
    .logo-opt {
      img {
        margin: auto;
        width: 70%;
      }
    }
    .cont-opt {
      p {
        margin-top: 6%;
      }
    }
    .head-main {
      img {
        width: 6%;
      }
    }
  }
}
.thought {
  .logo-opt {
    height: 140px;
    img {
      width: 33%;
    }
  }
  .logos {
    height: 120px;
  }
  .content.mt {
    margin-top: 56%;
  }
}
.content-busniess {
  padding-left: 10px;
  .small-business {
    width: 20%;
  }
  .head {
    font-size: 35px;
    font-weight: 300;
    text-transform: uppercase;
    margin: 5px 0 0;
  }
  h4 {
    font-size: 30px;
    font-weight: 300;
    text-transform: capitalize;
    margin: 0;
  }
  ul.cont {
    padding-left: 15px;
    li {
      list-style: none;
      line-height: 150%;
    }
    li:before {
      content: '\25A0';
      display: block;
      position: relative;
      max-width: 0;
      max-height: 0;
      left: -15px;
      top: -3px;
      color: #fed78c;
      font-size: 20px;
    }
  }
  .model {
    padding: 5px 0;
  }
  .never-grow {
    width: 75%;
  }
}
.smile-logo {
  img {
    margin: 10px auto;
  }
  .smilelogo {
    width: 60%;
  }
  .bcpt {
    width: 70%;
  }
  .yesfoundation {
    width: 90%;
  }
}
.testimonials {
  .nut {
    left: 32%;
    width: 24%;
    position: absolute;
    top: 89%;
    z-index: 1;
  }
  .pot {
    width: 70%;
    float: right;
    position: relative;
    z-index: 2;
  }
  .head-main-black {
    margin: 45px 0 10px;
    font-weight: 300;
    font-size: 35px;
    text-transform: uppercase;
  }
  .yellow-logo {
    width: 35%;
  }
  .testimonials-slide {
    padding: 0 15px;
    img.quote {
      width: 22%!important;
      margin: 10px 0;
    }
    .name {
      margin-top: 10px;
      p {
        margin: 0;
      }
    }
  }
  .flex-direction-nav {
    a {
      opacity: 1!important;
      z-index: 1!important;
      height: 90px;
    }
    a:before {
      content: url('../img/awsomeness/section5/prev.png')!important;
    }
    a.flex-next:before {
      content: url('../img/awsomeness/section5/nxt.png')!important;
    }
    .flex-disabled {
      opacity: 1!important;
      z-index: 1!important;
    }
    .flex-prev {
      left: -50px!important;
    }
    .flex-next {
      right: -50px!important;
    }
  }
  ol.flex-control-nav.flex-control-paging {
    opacity: 0;
  }
  .bx-pd {
    padding: 20px 70px;
  }
  .cont {
    height: 320px;
    border-bottom: 4px solid $bg-color;
    overflow: hidden;
  }
}
.disclaimer {
  .box-white {
    padding: 10px 30px;
  }
  h3 {
    margin: 10px 0;
    font-weight: 300;
    font-size: 30px;
    text-transform: capitalize;
  }
}
/* Start writing sass here */
