@import url(https://fonts.googleapis.com/css?family=Exo+2|Lato:400,100,300,700,900);
@import "../bower_components/bourbon/app/assets/stylesheets/bourbon";
@import "../bower_components/bootstrap-sass/assets/stylesheets/bootstrap/mixins";
@import "../bower_components/bootstrap-sass/assets/stylesheets/bootstrap-sprockets";
@import "../bower_components/flexslider/flexslider.css";
@import "../bower_components/font-awesome/css/font-awesome.min.css";
/* Bootstrap Variables Goes Here */
$brand-primary: #0d9dff !default;
$brand-success: #84ce3c !default;
$brand-warning: #ffec39 !default;
$brand-danger: #fc483f !default;
$brand-info: #000072 !default;
$brand-brown: #3b2415 !default;
$brand-yellow: #ffca20 !default;
$brand-pink: #f0a5ac !default;
$bg-color-skin: #ffb098 !default;
$bg-color: #89d5f6!default;
$bg-color-skin-main: #e9cfa5!default;
$bg-color-green: #00a07f!default;
$bg-color-abt: #ffaf79!default;
$font-color: #3b2417!default;
$border-color: #959595!default;
$box-red-color: #8a2f1d!default;
$box-yellow-color: #ffb21d!default;
$box-black-color: #272727!default;
$font-family-sans-serif: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif !default;
$font-family-serif: "Lato", Georgia, "Times New Roman", Times, serif !default;
@import "../bower_components/bootstrap-sass/assets/stylesheets/bootstrap";
img.loading {
  text-align: center;
  opacity: 1;
  width: 32px !important;
  height: auto;
}
.text-bold {
  font-weight: 700;
}
.text-lighter {
  font-weight: 300;
}
.block {
  display: block;
}
img {
  opacity: 0;
  @include transition(all 300ms ease);
}
img.doneLoading {
  opacity: 1;
}
.navbar-brand {
  padding: 0;
  position: relative;
  top: -26px;
}
.navbar-default {
  background-color: $brand-yellow;
  border-color: $brand-yellow;
  .navbar-nav {
    padding-left: 30px;
  }
  a {
    font-size: 16px;
    padding: 8px 20px;
    &:hover {
      background-color: darken($brand-yellow, 10%)!important;
      border-color: darken($brand-yellow, 10%);
    }
  }
}
.navbar-fixed-top {
  top: 30px;
}
nav li:hover .dropdown-menu {
  display: block;
}
.bg-blue {
  background: $bg-color;
}
.bg-brown {
  background: $brand-brown;
}
.bold {
  font-weight: 600;
}
a {
  cursor: pointer;
  color: $font-color;
  &:hover,
  &:focus {
    text-decoration: none;
    color: $font-color;
  }
}
a:focus {
  outline: none;
  outline: 0;
}
.row-flex {
  display: flex;
}
.flex-md {
  flex: 1;
}
.flex-md-4 {
  flex: 1;
}
.flex-md-8 {
  flex: 3;
}
.box-white {
  background: #fff;
  padding: 30px;
  margin: 20px 0;
}
.box-red {
  background: $box-red-color;
  padding: 30px;
  margin: 20px 0;
  color: #fff;
}
.box-yellow {
  background: $box-yellow-color;
  padding: 10px;
  margin: 5px 0;
  color: $box-red-color;
}
.box-black {
  background: $box-black-color;
  padding: 30px;
  margin: 20px 0;
  color: #fff;
}
.bb {
  border-bottom: 1px solid $border-color;
}
.head-main {
  font-size: 40px;
  font-weight: 500;
}
.home-head {
  font-size: 70px;
  font-weight: 300;
  text-transform: capitalize;
}
.ps-50 {
  padding: 20px 50px;
}
.sticky-bottom {
  position: absolute;
  top: 0;
  width: 100%;
  left: 0;
  z-index: 99;
  @include transition(all 700ms ease);
  &.affix {
    position: fixed;
    top: 0;
    bottom: auto;
    width: 100%;
    left: 0;
    z-index: 999;
  }
}
p {
  text-align: justify;
  font-size: 16px;
  font-weight: 300;
  line-height: 130%;
}
.sticky-bottom {
  top: calc(100% - 0px);
}
.section {
  position: relative;
  // min-height: 667px;
  overflow-x: hidden;
}
.helper {
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}
.bg-color-abt {
  background: $bg-color-abt;
}
.awsomeness {
  .sky {
    height: 230px;
    position: relative;
    .sun {
      position: absolute;
      width: 20%;
      right: 14%;
      top: 0;
    }
    .cloud {
      position: absolute;
    }
    .cloud3 {
      left: 4%;
      width: 16%;
      top: 60%;
    }
    .cloud2 {
      left: 12%;
      top: 25%;
      width: 20%;
    }
    .cloud1 {
      right: 24%;
      top: 40%;
      width: 20%;
    }
  }
  .head {
    padding-top: 10px;
    img {
      width: 32%;
    }
  }
  .puppet {
    min-height: 250px;
    position: relative;
    img {
      position: absolute;
    }
    .bubble1 {
      width: 13%;
      left: 5%;
      bottom: 40%;
    }
    .superman {
      left: 10%;
      width: 13%;
      bottom: 50%;
    }
    .bubble2 {
      left: 29%;
      width: 12%;
      bottom: 55px;
      @include transform (rotate(90deg));
    }
    .chair {
      left: 14%;
      width: 20%;
      bottom: -15px;
      z-index: 1;
    }
    .lady1 {
      left: 29%;
      width: 12%;
      bottom: -36px;
      z-index: 2;
    }
    .bubble3 {
      right: 42%;
      width: 12%;
      bottom: 5%;
    }
    .guy2 {
      right: 40%;
      width: 12%;
      bottom: 10%;
    }
    .bubble4 {
      bottom: 20px;
      right: 26%;
      width: 15%;
    }
    .lady2 {
      bottom: -35px;
      right: 26%;
      width: 12%;
      z-index: 2;
    }
    .guy1 {
      right: 5%;
      bottom: -35px;
      width: 16%;
    }
    .bubble5 {
      right: 20px;
      bottom: -35px;
      width: 16%;
    }
  }
}
.work {
  .bubble1 {
    position: relative;
    top: 35px;
    left: 67%;
    @include transform(rotate(-70deg));
  }
  .swing {
    width: 55%;
    position: relative;
    z-index: 2;
    left: 10%;
    top: 40px;
  }
  .window {
    position: absolute;
    z-index: 1;
    right: 7%;
    width: 40%;
    top: 50%;
  }
  .content {
    .head {
      font-size: 40px;
      font-weight: 300;
      color: $font-color;
    }
    p {
      color: $font-color;
      text-align: justify;
    }
  }
  .areoplane {
    padding: 30px 0 35px;
    width: 100px;
  }
  .client-speak {
    .content {
      padding: 10px 20px 0;
      p {
        text-align: justify;
      }
    }
    .logo {
      height: 120px;
    }
    .shopper-stop {
      .logo-shoper {
        margin: 0 0 10px;
      }
      .limca {
        width: 85%;
      }
      .prize {
        width: 160px;
        margin: 10px auto;
      }
      .etnow {
        position: absolute;
        top: 50%;
        left: -35px;
        @include transform (translateY(35%));
        width: 80%;
      }
    }
  }
  .logos {
    margin-bottom: 15px;
  }
}
.talking {
  .logo {
    height: 150px;
  }
  .content-opt {
    .logo-opt {
      img {
        margin: auto;
        width: 70%;
      }
    }
    .cont-opt {
      p {
        margin-top: 6%;
      }
    }
    .head-main {
      img {
        width: 6%;
      }
    }
  }
}
.thought {
  .logo-opt {
    height: 140px;
    img {
      width: 33%;
    }
  }
  .logos {
    height: 120px;
  }
  .content.mt {
    margin-top: 56%;
  }
}
.content-busniess {
  padding-left: 10px;
  .small-business {
    width: 20%;
  }
  .head {
    font-size: 35px;
    font-weight: 300;
    text-transform: uppercase;
    margin: 5px 0 0;
  }
  h4 {
    font-size: 30px;
    font-weight: 300;
    text-transform: capitalize;
    margin: 0;
  }
  ul.cont {
    padding-left: 15px;
    li {
      list-style: none;
      line-height: 150%;
    }
    li:before {
      content: '\25A0';
      display: block;
      position: relative;
      max-width: 0;
      max-height: 0;
      left: -15px;
      top: -3px;
      color: #fed78c;
      font-size: 20px;
    }
  }
  .model {
    padding: 5px 0;
  }
  .never-grow {
    width: 75%;
  }
}
.smile-logo {
  img {
    margin: 10px auto;
  }
  .smilelogo {
    width: 60%;
  }
  .bcpt {
    width: 70%;
  }
  .yesfoundation {
    width: 90%;
  }
}
.testimonials {
  .nut {
    left: 32%;
    width: 24%;
    position: absolute;
    top: 89%;
    z-index: 1;
  }
  .pot {
    width: 70%;
    float: right;
    position: relative;
    z-index: 2;
  }
  .head-main-black {
    margin: 45px 0 10px;
    font-weight: 300;
    font-size: 35px;
    text-transform: uppercase;
  }
  .yellow-logo {
    width: 35%;
  }
  .testimonials-slide {
    padding: 0 15px;
    img.quote {
      width: 22%!important;
      margin: 10px 0;
    }
    .name {
      margin-top: 10px;
      p {
        margin: 0;
      }
    }
  }
  .flex-direction-nav {
    a {
      opacity: 1!important;
      z-index: 1!important;
      height: 90px;
    }
    a:before {
      content: url('../img/awsomeness/section5/prev.png')!important;
      cursor: pointer;
    }
    a.flex-next:before {
      content: url('../img/awsomeness/section5/nxt.png')!important;
      cursor: pointer;
    }
    .flex-disabled {
      opacity: 1!important;
      z-index: 1!important;
    }
    .flex-prev {
      left: -50px!important;
    }
    .flex-next {
      right: -50px!important;
    }
  }
  ol.flex-control-nav.flex-control-paging {
    opacity: 0;
  }
  .bx-pd {
    padding: 20px 70px;
  }
  .cont {
    height: 320px;
    border-bottom: 4px solid $bg-color;
    overflow: hidden;
  }
}
.disclaimer {
  min-height: 360px;
  .box-white {
    padding: 10px 30px;
  }
  h3 {
    margin: 10px 0;
    font-weight: 300;
    font-size: 30px;
    text-transform: capitalize;
  }
}
.home {
  min-height: 550px;
  .puppet {
    min-height: 550px;
  }
  .all-windows {
    padding: 20px;
    text-align: center;
    position: absolute;
  }
  .window {
    width: 32%;
    padding: 0 25px;
  }
}
.tabs {
  padding-top: 150px;
}
.tab-menu {
  ul {
    padding-left: 75px;
  }
  li {
    list-style: none;
    padding: 8px 16px;
    margin: 5px 0;
    cursor: pointer;
    @include transition(all ease 300ms);
    &.active,
    &:hover {
      background: $brand-yellow;

      // font-weight: 600;
    }
  }
}

// home
form {
  .form-control {
    border-radius: 0;
    background-color: transparent;
    border-color: $brand-brown;
    &:focus {
      outline: none;
      box-shadow: none;
      border-color: $brand-brown;
    }
  }
  button.submit {
    border-radius: 0;
    border-color: $brand-brown;
    background-color: $brand-brown;
    color: #fff;
    &:focus {
      box-shadow: none;
      outline: none;
    }
  }
}
.relate {
  position: relative;
}
.ab {
  position: absolute;
}

// .heading {
//   font-size: 70px;
// }
.floor {
  bottom: 0;
}

// about
.about-us {
  padding: 90px 0;
  background-color: $bg-color;
}
.about-info {
  min-height: 650px;
}
.window-right,
.window-full,
.girl,
.boy {
  img {
    width: 70%;
  }
}
.window-full {
  top: 30%;
  left: 12%;
}
.window-right {
  top: 30%;
  right: -250px;
}
.girl {
  left: 15%;
  bottom: 13%;
  z-index: 1;
}
.boy {
  left: 35%;
  bottom: 13%;
  z-index: 1;
}
.bubble {
  top: -10px;
  left: 40%;
}

// contact
.contactus {
  padding: 50px 0;
  background-color: $brand-pink;
  .heading {
    margin: 0 0 50px;
  }
  textarea {
    resize: none;
    color: $brand-brown;
  }
  input {
    color: $brand-brown;
  }
  textarea::-webkit-input-placeholder {
    color: $brand-brown;
  }
  textarea:-moz-placeholder {
    color: $brand-brown;
  }
  textarea::-moz-placeholder {
    color: $brand-brown;
  }
  textarea:-ms-input-placeholder {
    color: $brand-brown;
  }
  input::-webkit-input-placeholder {
    color: $brand-brown;
  }
  input:-moz-placeholder {
    color: $brand-brown;
  }
  input::-moz-placeholder {
    color: $brand-brown;
  }
  input:-ms-input-placeholder {
    color: $brand-brown;
  }
}
.contact-info {
  min-height: 600px;
}
.window-left {
  top: 183px;
  left: -200px;
  img {
    width: 80%;
  }
}
.contact-boy,
.email,
.contact-girl {
  z-index: 1;
  img {
    width: 70%;
  }
}
.window-left {
  top: 20%;
}
.contact-girl {
  left: 25%;
  bottom: 40px;
}
.email {
  bottom: 200px;
  left: 35%;
}
.contact-boy {
  bottom: 50px;
  left: 50%;
}
.door {
  right: -20px;
  bottom: 14%;
  width: 10%;
  img {
    width: 90%;
  }
}
.contact-detail {
  width: 90%;
  letter-spacing: 2px;
  p {
    margin: 0;
    font-size: 14px;
    letter-spacing: 0.78px;
  }
  span,
  a {
    font-size: 16px;
    letter-spacing: 0.78px;
  }
  .space {
    margin: 10px 0;
  }
}
.social-icon {
  margin-top: 50px;
  ul {
    padding: 0;
    li {
      padding-right: 5px;
      display: inline-block;
      a {
        width: 30px;
        height: 30px;
        border-radius: 100%;
        display: inline-block;
        background-color: $brand-brown;
        color: $brand-pink;
        line-height: 30px;
        text-align: center;
        letter-spacing: 0.78px;
        &:hover {
          background-color: darken($brand-brown, 10%);
        }
      }
    }
  }
}

// subscribe
.subscribe {
  padding: 40px 0;
  background-color: $brand-yellow;
  .img-holder {
    width: 75%;
    margin: 0 auto;
  }
  .subscribe-me {
    margin: 50px 0;
    input {
      width: 250px;
      color: $brand-brown;
    }
    input::-webkit-input-placeholder {
      color: $brand-brown;
    }
    input:-moz-placeholder {
      color: $brand-brown;
    }
    input::-moz-placeholder {
      color: $brand-brown;
    }
    input:-ms-input-placeholder {
      color: $brand-brown;
    }
  }
}
.section-ngu {
  background: $bg-color;
  .slate {
    width: 8%;
    right: 8%;
    z-index: 99;
    top: 5px;
  }
  .bubble {
    top: 35px;
    left: 32%;
    @include transform(rotate(-100deg));
  }
  .window-right {
    right: -260px;
  }
  .ngu {
    width: 70%;
    top: 130px;
    left: 20%;
  }
  .rocket {
    top: 50%;
    @include transform(rotate(-25deg));
    width: 8%;
    left: 75px;
  }
  .content {
    top: 130px;
    width: 70%;
    p {
      font-size: 14px;
      margin-bottom: 20px;
    }
  }
  .dolphin {
    bottom: 25px;
    z-index: 1;
    width: 18%;
    left: 66px;
  }
  .snail {
    bottom: 70px;
    z-index: 1;
    width: 8%;
    left: 40%;
  }
}
.services {
  background: $bg-color-skin;
  .services-info {
    padding: 0 14%;
    top: 36px;
    p {
      font-size: 14px;
      margin-bottom: 20px;
    }
  }
  .services-badge {
    margin-bottom: 20px;
    figcaption {
      margin-top: 10px;
    }
  }
  .bubble {
    top: 35px;
    left: 32%;
    @include transform(rotate(-100deg));
  }
  .coffee {
    width: 10%;
    position: absolute;
    left: 21%;
    bottom: 8%;
  }
  .window-left {
    bottom: 20%;
    top: initial;
  }
  .pb30 {
    padding-bottom: 30px;
  }
}
.hq-bg {
  background: $bg-color-green;
  .social-links {
    padding-right: 15px;
    padding-top: 20px;
    ul {
      list-style: none;
      float: right;
      li {
        width: 65%;
        padding-bottom: 5px;
      }
    }
  }
  .hq-confess {
    width: 40%;
    bottom: 110px;
    z-index: 1;
    left: 0;
  }
  .hq-logo {
    img {
      width: 30%;
    }
  }
  .clock {
    left: 0;
    top: 16%;
    img {
      width: 65%;
    }
  }
  p {
    font-size: 14px;
    padding: 0 20px;
    color: #fff;
  }
  .btn {
    background: $brand-yellow;
    border-color: $brand-yellow;
    color: $bg-color-green;
    border-radius: 0;
    padding: 4px 8px;
    &:hover {
      background: darken($brand-yellow, 10%);
      border-color: darken($brand-yellow, 10%);
    }
  }
}
.client {
  .logos {
    height: 120px;
  }
  .client-happy {
    bottom: 90px;
    left: 0;
    width: 14%;
  }
}
.pb50 {
  padding-bottom: 50px;
}
.pt100 {
  padding-top: 100px;
}
.bg-skin-main {
  background: $bg-color-skin-main;
}
.media {
  .media-partners {
    background: #fff;
    padding: 30px;
  }
  .media-cont {
    width: 75%;
    margin: 0 auto;
    .media-head {
      padding-left: 20px;
      padding-bottom: 20px;
      p {
        margin-bottom: 0;
        font-size: 20px;
      }
    }
    .media-imgholder {
      padding: 20px;
    }
  }
  .bubble {
    top: -14px;
    left: 29.5%;
    @include transform(rotate(-100deg));
  }
  .window-right {
    top: 8%;
  }
  .window-left {
    top: 36%;
  }
  .clickhere {
    padding-left: 20px;
  }
  .news {
    position: absolute;
    width: 18%;
    bottom: 50px;
    right: 3%;
  }
  .xerox {
    width: 50%;
    position: absolute;
    bottom: 20px;
    right: 20%;
  }
  .pb140 {
    padding-bottom: 140px;
  }
  .rocket {
    top: 11%;
    left: 7%;
    width: 8%;
    @include transform(rotate(10deg));
  }
  .pt50 {
    padding-top: 50px;
  }
}
.hq-cont-yellow {
  .head-yellow {
    font-size: 36px;
    font-weight: 300;
    margin-top: 0;
    img {
      height: 90px;
      vertical-align: bottom;
    }
  }
  .head-tabs {
    border-bottom: 3px solid #FFCA20;
    margin-bottom: 20px;
  }
}
.tabs {
  .people {
    z-index: 1;
    position: relative;
    img {
      width: 30%;
      right: 5px;
    }
  }
  .bt-engage {
    bottom: 45px;
  }
  .bt-happness {
    bottom: 82px;
  }
  .bt-workshop {
    bottom: 200px;
  }
  .bt-corporate {
    bottom: 25px;
    img {
      width: 15%;
      right: 142px;
    }
  }
  .bt-internal {
    bottom: 60px;
  }
  .bt-digital {
    bottom: 55px;
    img {
      width: 25%;
      right: 85px;
    }
  }
  .bt-wrk-space {
    bottom: 170px;
    img {
      right: 160px;
      width: 25%;
    }
  }
  .bt-employer {
    bottom: 25px;
    img {
      right: 45px;
    }
  }
  .bt-quirkey {
    bottom: -45px;
    img {
      width: 19%;
      right: 135px;
    }
  }
  .window-right {
    img {
      width: 75%;
      right: -40px;
      position: absolute;
      top: 125px;
    }
  }
  .digital {
    img {
      top: 90px;
    }
  }
  .interal-img {
    img {
      top: 100px;
    }
  }
  .corporate {
    img {
      top: 115px;
    }
  }
  p {
    font-size: 14px;
  }
  .floor {
    margin-left: -15px;
    margin-right: -15px;
  }
}
.row-tabs {
  padding-bottom: 30px;
}
.about {
  .abt-cont {
    h2 {
      font-size: 45px;
      font-weight: 300;
    }
    .guy1-abt {
      bottom: -40px;
    }
  }
  img.areoplane {
    top: 1%;
    left: 50%;
    width: 30%;
    @include transform(rotate(10deg));
  }
  .guy1-abt {
    bottom: -40px;
  }
  .min-hght {
    min-height: 950px;
  }
  .window-right {
    top: 7%;
  }
  .window-left {
    top: initial;
    bottom: 18%;
  }
  .cont-main {
    padding-right: 40px;
    position: relative;
    .salute-left {
      position: absolute;
      left: -55px;
      width: 15%;
    }
    .clock-right {
      width: 23%;
      top: -2px;
      position: absolute;
      right: 10px;
    }
    h3 {
      font-size: 30px;
      font-weight: 300;
      img {
        vertical-align: bottom;
      }
    }
    img.thumbsup-right {
      width: 26%;
    }
    img.width-right {
      width: 15%;
    }
  }
}
.client-speaks {
  .client-desk {
    float: left;
  }
  .slider-client {
    float: left;
    .testimonials-slide img.quote {
      width: 22% !important;
      margin: 10px 0;
    }
    .cont {
      height: 320px;
      border-bottom: 4px solid #fff;
      overflow: hidden;
    }
    .name {
      margin-top: 10px;
    }
    .flexslider {
      background: transparent;
      border: 0;
      width: 690px;
      margin-bottom: 0;
      p {
        margin: 0;
      }
      .pad20 {
        padding: 20px !important;
      }
      img.quote {
        width: auto !important;
        margin-bottom: 10px;
      }
    }
  }
  .wifi img {
    float: right;
    margin-bottom: -38px;
    margin-right: 32px;
    z-index: 1;
    position: relative;
    width: 25%;
  }
  ol.flex-control-nav.flex-control-paging {
    display: none;
  }
  .flex-direction-nav {
    a {
      opacity: 1!important;
      z-index: 1!important;
      height: 90px;
    }
    a:before {
      content: url('../img/awsomeness/section5/prev.png')!important;
      cursor: pointer;
    }
    a.flex-next:before {
      content: url('../img/awsomeness/section5/nxt.png')!important;
      cursor: pointer;
    }
    .flex-disabled {
      opacity: 1!important;
      z-index: 1!important;
    }
    .flex-prev {
      left: -435px !important;
    }
    .flex-next {
      right: -50px!important;
    }
  }
}
footer {
  padding: 20px;
  .nav-footer {
    ul {
      list-style: none;
      display: block;
      li {
        display: inline-block;
        a {
          color: #fff;
          padding: 0 8px;
          &:hover {
            color: darken(#fff, 20%);
          }
        }
      }
      li+li {
        border-left: 1px solid #fff;
      }
    }
  }
  .nav-footer.mb0 {
    ul {
      margin-bottom: 0;
    }
  }
  .nav-footer.pb20 {
    ul {
      padding-bottom: 20px;
    }
  }
  .pt20 {
    padding-top: 20px;
  }
  .footer-cont {
    padding: 20px 0;
    p {
      color: #fff;
      margin: 0;
      font-size: 12px;
      a {
        color: #fff;
        &:hover {
          color: darken(#fff, 20%);
        }
      }
    }
  }
}
