<div class="work" ngu>
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-sm-6">
                <div class="content">
                    <img src="img/bubble.png" alt="" class="bubble1">
                    <h3 class="head">
            Our Work
          </h3>
                    <p>At Never Grow Up &reg;, we believe in letting our work speak for ourselves. You may not hear us blowing the trumpet too loud, but that’s just the way we are. Over the last few years, we have worked on a variety of projects across industries
                        &amp; levels while being true to our philosophy of making work fun, keeping people engaged and helping organizations retain and hone talent. Here’s a peek into some of our work.</p>
                </div>
            </div>
            <div class="col-md-8 col-sm-6">
                <img src="img/awsomeness/section2/swing.png" alt="" class="swing">
                <img src="img/awsomeness/section2/window.png" alt="" class="window">
            </div>
            <div class="rocket ab">
                <img src="img/gif/Paper-Plane-2a.png" class="home-areoplane ab">
            </div>
        </div>
        <div class="client-speak">
            <div class="box-white">
                <!-- <div class="row">
          <div class="col-md-4 col-sm-6">
            <div class="content">
              <div class="logo text-center">
                <span class="helper"></span>
                <img src="img/logos/tatasky.png" width="200">
              </div>
              <p>
                From getting every employee of Tata Sky believe and feel like a CEO to executing a Competency Project by anchoring behaviours through a creative visual campaign, we’ve partnered with Tata Sky over initiatives that have witnessed PAN-India impact. Besides
                these campaigns, we have also designed their Values &amp; Culture Handbook with easy-to-understand infographics and we are just getting started.
              </p>
            </div>
          </div>
          <div class="col-md-4 col-sm-6">
            <div class="content">
              <div class="logo text-center">
                <span class="helper"></span>
                <img src="img/logos/dhl.png" width="200">
              </div>
              <p>
                With the objective of inculcating a sense of pride among employees in the logistics business, we partnered with DGF to create a three phase ‘Passionate Forwarder’ campaign. Across major cities in India, interactive workshops for the employees were executed
                with every Forwarder receiving a customised Pride Package that contained goodies specially made in line with the theme.
              </p>
            </div>
          </div>
          <div class="col-md-4 col-sm-6  ">
            <div class="content">
              <div class="logo text-center">
                <span class="helper"></span>
                <img src="img/logos/loreal.png" width="200" align="middle">
              </div>
              <p>
                Be it facilitating a Brainstorming session for their employees through office branding or handling the entire back-end operations of their media launch for the Sharing Beauty with All program, we have seamlessly joined hands with L’Oréal in their endeavours.
                Besides being creative partners, the occasion of their annual Citizen's Day, a day where all the employees of L’Oréal commit to make a difference to the society they live in, saw us managing NGO partnerships across locations.</p>
            </div>
          </div>
          <div class="col-md-4 col-sm-6">
            <div class="content">
              <div class="logo text-center">
                <span class="helper"></span>
                <img src="img/logos/aditya.png" width="150">
              </div>
              <p>
                Be it conducting theatre-based workshops to spread awareness on Gender Diversity and Sensitivity for their employees or celebrating the International Girl Child Day by organizing workshops for pre-teens from low-income communities, Never Grow Up has been
                associated with ABFSG to develop ideas and implement them across several initiatives besides building communication for various internal initiatives.
              </p>
            </div>
          </div>
          <div class="col-md-4 col-sm-6">
            <div class="content">
              <div class="logo text-center">
                <span class="helper"></span>
                <img src="img/logos/icici.png" width="220" align="middle">
              </div>
              <p>
                At ICICI Prudential, the spirit and belief of service excellence is rewarded on an annual basis through an internal initiative known as 'Tatva'. Never Grow Up has partnered with them to plan and execute the roll-out of this entire campaign for over two
                years. We have also implemented a series of monthly internal campaigns to sustain the buzz around Tatva while keeping the program aspirational.
              </p>
            </div>
          </div>
          <div class="col-md-4 col-sm-6">
            <div class="content">
              <div class="logo text-center">
                <span class="helper"></span>
                <img src="img/logos/housing.png" width="150">
              </div>
              <p>
                For the vibrant bunch that they are, we have conceptualised and implemented an extremely innovative and relevant Induction program for over 350 of its new joinees till date. By conducting a customized experiential program spread over days, their motto
                of 'Look Up' has been executed effortlessly across levels and roles.
              </p>
            </div>
          </div>
        </div> -->
                <div class="row" ng-repeat="ClientWithDescriptions in ClientWithDescription">
                    <div class="col-md-4 col-sm-6" ng-repeat="client in ClientWithDescriptions">
                        <div class="content">
                            <div class="logo text-center">
                                <span class="helper"></span>
                                <img src="{{client.image| serverimage}}" width="200">
                            </div>
                            <p>
                                {{client.content}}
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="shopper-stop">
                <div class="box-white">
                    <div class="row">
                        <div class="col-md-6 col-sm-6">
                            <div class="content">
                                <img src="img/logos/shoperstops.png" alt="" class="logo-shoper">
                                    <span class="bold block">IPledge</span>
                                <p>
                                    With the core objective of reliving and imbibing company values across the organization and adding value to Employee Engagement practices Never Grow Up &reg; partnered with Shoppers Stop to launch an initiative called 'IPledge'. While the idea meant to reach out to every single person across the organization brought a new sense of camaraderie across levels and stores, this initiative also got our client into the 
                                    <span class="bold">Limca Book of Records</span>. This was followed by an award for <span class="bold">'The organization with the most Innovative HR Practices'</span> award for IPledge at the <span class="bold">World HRD Congress 'Talent and HR Leadership Awards</span>.
                                    That's not all! Another initiative aptly called the <span class="bold">'Goodie Box'</span> conceptualized and created by our team has also helped them bag the award for <span class="bold">'The most Innovative HR initiative'</span> at the award ceremony. The program lasted two years with evolutionary steps being taken to sustain and enhance the campaign that touched various business aspects from grooming, to CSR.

                                    <!-- With the core objective of reliving and imbibing company values across the organization and adding value to Employee Engagement practices Never Grow Up &reg; partnered with Shoppers Stop to launch a 3 month initiative
                                    called 'IPledge'. While the idea meant to reach out to every single person across the organization brought a new sense of camaraderie across employees and stores, this initiative also got our client into the
                                    <span class="bold">Limca Book of Records</span>. This was followed by an award for
                                    <span class="bold">'The organization with the most Innovative HR Practices'</span> award for IPledge at the
                                    <span class="bold">World HRD Congress 'Talent and HR Leadership Awards</span>. That's not all! Another initiative aptly called the
                                    <span class="bold">'Goodie Box'</span> TM conceptualized and created by our team has also helped them bag the award for
                                    <span class="bold">'The most Innovative HR initiative'</span> at the award ceremony. The program lasted two years with evolutionary steps being taken to sustain and enhance the campaign. -->
                                </p>
                                <span class="bold block">Turnkey Initiatives</span>
                                <p>
                                    As a case in point, we have worked on a <span class="bold">series of interventions</span> ranging from Internal <span class="bold">Communication</span> Campaigns, key policy roll-outs, <span class="bold">Reward and Recognition</span> Programs, helping launch the <span class="bold">Innovation Platform</span> for the company, making Campus <span class="bold">Presentations</span>,
                                    running <span class="bold">Corporate Social Responsibility</span> Campaigns, <span class="bold">Idea Generation Workshops</span>, customized <span class="bold">Training Interventions and</span> designing Staff Welcome Kits while managing ‘Fun Fridays’! We’ve also helped roll out the company's <span>Prevention of Sexual Harassment policy in a unique way</span> a pilot
                                    <span class="bold">‘Counselling Centre’ </span>for employees and worked closely with the team to roll out their new dress code.
                                    <!-- <span class="bold">series of turnkey initiatives</span>
                                    <span class="bold">Communication</span>
                                    <span class="bold">Reward and Recognition </span>
                                    <span class="bold">Innovation Platform </span>
                                    <span class="bold">Presentations,</span>
                                    <span class="bold">Corporate Social Responsibility</span>
                                    <span class="bold">Idea Generation Workshops</span>
                                    <span class="bold">Training Interventions</span>
                                    <span class="bold">‘Fun Fridays’!</span> -->
                                </p>
                            <span class="bold block">Retail Employees' Day</span>
                                <p>
                                    To celebrate Retail Employees’ Day in 2015, we created an <span class="bold">original song</span> dedicated to retail employees across the country which was recorded in multiple languages. In 2016, we conducted a <span class="bold">hoardings</span> and organized <span class="bold">social experiment</span> that made participants realize the importance of retail employees. Along with capturing this experiment on video, we took 'Thank You' to a much bigger scale by putting up <span class="bold">hoardings</span> and organizing <span class="bold">surprise clap mobs</span> across store locations to express gratitude on this occasion..
                                </p>
                            </div>
                        </div>
                        
                        <div class="col-md-6 col-sm-6">
                            <div class="row">
                                <div class="col-xs-6">
                                    <img src="img/logos/limca.png" alt="" class="limca">
                                    <img src="img/logos/prize.png" alt="" class="prize">
                                </div>
                                <div class="col-xs-6">
                                    <img src="img/logos/etnow.png" alt="" class="etnow">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="box-white ps-50">
                <div class="row">
                    <div class="col-md-4 col-sm-4">
                        <div class="logos text-center">
                            <span class="helper"></span>
                            <img src="img/logos/groupm.png" alt="">
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-4">
                        <div class="logos text-center">
                            <span class="helper"></span>
                            <img src="img/logos/mindshare.png" alt="">
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-4">
                        <div class="logos text-center">
                            <span class="helper"></span>
                            <img src="img/logos/maxus.png" alt="">
                        </div>
                    </div>
                    <div class="clearfix"></div>
                    <div class="col-md-12">
                        <!-- <p>For Groupm, Mindshare &amp; Maxus, we have created and creatively executed
                            <span class="bold">customized, activity led interventions across levels </span>– ranging from Senior Management to a new entrant. These have been in sync with team meets, strategy discussions, off-sites and have met pre-defined
                            objectives. We’ve also helped
                            <span class="bold">design a couple of meeting rooms </span> for the creative bunch that they are! What fun!</p> -->
                        <p>
                            For Groupm, Mindshare &amp; Maxus, we have created and creatively executed<span class="bold"> customized, activity led interventions across levels</span> customized, activity led interventions across levels– ranging from Senior Management to a new entrant. These have been in sync with team meets, strategy discussions, off-sites and
                            have met pre-defined objectives. We’ve also helped <span class="bold">design a couple of meeting rooms</span> for the creative bunch that they are! What fun!
                        </p>
                        <p>
                            This year, we embarked on another exciting journey with Maxus India. By taking a top-down management approach, we have been working on specific interventions to build their external and internal employer brand. The idea is to create a balanced perspective
                            towards the organization by all their key stakeholders.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="talking">
    <div class="container">
        <div class="content">
            <h3 class="text-center head-main">
          You’ve Got Us Talking!
        </h3>
            <div class="box-white ps-50">
                <p>
                    Since our inception, we have conceptualized, created and executed over
                    <span class="bold">150 Customized &amp; Unconventional Team Experiences and ‘Gamification’ led Training Interventions [from 10 to 400 people]</span> for organizations across sectors. These have been spread across areas like communication
                    skills, business etiquette, team building, conflict management and creativity to simply creating something for teams to ‘unwind’ after hard day’s work! We pride ourselves in creating modules that are
                    <span class="bold"> designed to suit a particular culture while using ‘the arts’ to address people challenges at the workplace.</span>
                </p>
                <div class="logos">
                    <div class="row-flex bb">
                        <div class="flex-md text-center">
                            <div class="logo">
                                <span class="helper"></span>
                                <img src="img/awsomeness/section3/logo1.png" class="" alt="">
                            </div>
                        </div>
                        <div class="flex-md text-center">
                            <div class="logo">
                                <span class="helper"></span>
                                <img src="img/awsomeness/section3/logo2.png" class="" alt="">
                            </div>
                        </div>
                        <div class="flex-md text-center">
                            <div class="logo">
                                <span class="helper"></span>
                                <img src="img/awsomeness/section3/logo3.png" class="" alt="">
                            </div>
                        </div>
                        <div class="flex-md text-center">
                            <div class="logo">
                                <span class="helper"></span>
                                <img src="img/awsomeness/section3/logo4.png" class="" alt="">
                            </div>
                        </div>
                        <div class="flex-md text-center">
                            <div class="logo">
                                <span class="helper"></span>
                                <img src="img/awsomeness/section3/logo5.png" class="" alt="">
                            </div>
                        </div>
                    </div>
                    <div class="row-flex bb">
                        <div class="flex-md text-center">
                            <div class="logo">
                                <span class="helper"></span>
                                <img src="img/awsomeness/section3/logo6.png" class="" alt="">
                            </div>
                        </div>
                        <div class="flex-md text-center">
                            <div class="logo">
                                <span class="helper"></span>
                                <img src="img/awsomeness/section3/logo7.png" class="" alt="">
                            </div>
                        </div>
                        <div class="flex-md text-center">
                            <div class="logo">
                                <span class="helper"></span>
                                <img src="img/awsomeness/section3/logo8.png" class="" alt="">
                            </div>
                        </div>
                        <div class="flex-md text-center">
                            <div class="logo">
                                <span class="helper"></span>
                                <img src="img/awsomeness/section3/logo9.png" class="" alt="">
                            </div>
                        </div>
                        <div class="flex-md text-center">
                            <div class="logo">
                                <span class="helper"></span>
                                <img src="img/awsomeness/section3/logo10.png" class="" alt="">
                            </div>
                        </div>
                    </div>
                    <div class="row-flex bb">
                        <div class="flex-md text-center">
                            <div class="logo">
                                <span class="helper"></span>
                                <img src="img/awsomeness/section3/logo11.png" class="" alt="">
                            </div>
                        </div>
                        <div class="flex-md text-center">
                            <div class="logo">
                                <span class="helper"></span>
                                <img src="img/awsomeness/section3/logo12.png" class="" alt="">
                            </div>
                        </div>
                        <div class="flex-md text-center">
                            <div class="logo">
                                <span class="helper"></span>
                                <img src="img/awsomeness/section3/logo13.png" class="" alt="">
                            </div>
                        </div>
                        <div class="flex-md text-center">
                            <div class="logo">
                                <span class="helper"></span>
                                <img src="img/awsomeness/section3/logo14.png" class="" alt="">
                            </div>
                        </div>
                        <div class="flex-md text-center">
                            <div class="logo">
                                <span class="helper"></span>
                                <img src="img/awsomeness/section3/logo15.png" class="" alt="">
                            </div>
                        </div>
                    </div>
                    <div class="row-flex bb">
                        <div class="flex-md text-center">
                            <div class="logo">
                                <span class="helper"></span>
                                <img src="img/awsomeness/section3/logo16.png" class="" alt="">
                            </div>
                        </div>
                        <div class="flex-md text-center">
                            <div class="logo">
                                <span class="helper"></span>
                                <img src="img/awsomeness/section3/logo17.png" class="" alt="">
                            </div>
                        </div>
                        <div class="flex-md text-center">
                            <div class="logo">
                                <span class="helper"></span>
                                <img src="img/awsomeness/section3/logo18.png" class="" alt="">
                            </div>
                        </div>
                        <div class="flex-md text-center">
                            <div class="logo">
                                <span class="helper"></span>
                                <img src="img/awsomeness/section3/logo19.png" class="" alt="">
                            </div>
                        </div>
                        <div class="flex-md text-center">
                            <div class="logo">
                                <span class="helper"></span>
                                <img src="img/awsomeness/section3/logo20.png" class="" alt="">
                            </div>
                        </div>
                    </div>
                    <div class="row-flex bb">
                        <div class="flex-md text-center">
                            <div class="logo">
                                <span class="helper"></span>
                                <img src="img/awsomeness/section3/logo21.png" class="" alt="">
                            </div>
                        </div>
                        <div class="flex-md text-center">
                            <div class="logo">
                                <span class="helper"></span>
                                <img src="img/awsomeness/section3/logo22.png" class="" alt="">
                            </div>
                        </div>
                        <div class="flex-md text-center">
                            <div class="logo">
                                <span class="helper"></span>
                                <img src="img/awsomeness/section3/logo23.png" class="" alt="">
                            </div>
                        </div>
                        <div class="flex-md text-center">
                            <div class="logo">
                                <span class="helper"></span>
                                <img src="img/awsomeness/section3/logo24.png" class="" alt="">
                            </div>
                        </div>
                        <div class="flex-md text-center">
                            <div class="logo">
                                <span class="helper"></span>
                                <img src="img/awsomeness/section3/logo25.png" class="" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="content-opt">
            <h3 class="text-center head-main">
          We’ve Gone International!
          <img src="img/awsomeness/section3/plane.png" alt="">
        </h3>
            <div class="box-white ps-50">
                <div class="row">
                    <div class="col-md-3 col-sm-3">
                        <div class="logo-opt text-center">
                            <img src="img/awsomeness/section3/logo.png" alt="" class="img-responsive">
                        </div>
                    </div>
                    <div class="col-md-9 col-sm-9">
                        <div class="cont-opt">
                            <p>
                                Our Work has taken us places. We’ve also been invited to <span class="bold">New Orleans, USA for the Resource Pro Operations Bootcamp </span> where we spoke to over 50 business owners and leaders on How to build an awesome
                                Work Culture: Working 9 to 5.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="thought">
    <div class="container">
        <div class="content-opt">
            <h3 class="text-center head-main">
          Just When You Thought, We Were Done!
        </h3>
            <div class="box-white">
                <div class="row">
                    <div class="col-md-4 col-sm-4">
                        <div class="logo-opt text-center">
                            <span class="helper"></span>
                            <img src="img/awsomeness/section4/star.png" alt="">
                        </div>
                        <div class="content">
                            <p>
                                Backed by our team of creative thinkers, we have built and executed engagement activities using
                                <span class="bold">Corporate Social Responsibility</span> as a backdrop to push existing initiatives and helped execute a multi city festive celebration event among other activities for Star TV.
                            </p>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-4">
                        <div class="logo-opt text-center">
                            <img src="img/awsomeness/section4/raymond.png" alt="" class="ab image-hold image-hold1">
                            <img src="img/awsomeness/section4/nab.png" alt="" class="ab image-hold image-hold2">
                        </div>
                        <div class="content">
                            <p>
                                While we regularly create and design Internal and [some] external communication for ICICI Prudential, Raymonds and National Australia Bank, we’ve also scripted and created videos for TRRAIN and developed quirky merchandise for Thomas Cook.
                            </p>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-4">
                        <div class="logo-opt text-center">
                            <img src="img/awsomeness/section4/castrol.png" alt="">
                            <img src="img/awsomeness/section4/shemaroo.png" alt="">
                            <img src="img/awsomeness/section4/minda.png" alt="">
                            <img src="img/awsomeness/section4/reliance.png" alt="">
                        </div>
                        <div class="content">
                            <p>
                                Some of our other interesting work
                                <span class="bold"> includes building a multi lingual etiquette program for cab drivers at Castrol, creating people friendly policies and culture activities for MINDA and being creative consultants to Shemaroo Entertainment for their ‘Corporate Chanakya’
                    DVD and designing and executing a cool Library at Reliance </span>.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="box-white">
                <div class="row">
                    <div class="col-md-3">
                        <div class="content mt">
                            <p>
                                We’ve also managed and executed
                                <span class="bold">turn-key off-site projects and/or fun at work activities including multi-city events </span> for clients like Indus Towers, Pantaloons, J P Morgan, ESPN, RGA, DHL, Barclays &amp; EMC2.
                            </p>
                        </div>
                    </div>
                    <div class="col-md-9">
                        <div class="logos">
                            <div class="row bb">
                                <div class="col-md-3 col-sm-3 col-xs-6">
                                    <div class="logos text-center">
                                        <span class="helper"></span>
                                        <img src="img/awsomeness/section4/logo1.png" class="" alt="">
                                    </div>
                                </div>
                                <div class="col-md-3 col-sm-3 col-xs-6">
                                    <div class="logos text-center">
                                        <span class="helper"></span>
                                        <img src="img/awsomeness/section4/logo2.png" class="" alt="">
                                    </div>
                                </div>
                                <div class="col-md-3 col-sm-3 col-xs-6">
                                    <div class="logos text-center">
                                        <span class="helper"></span>
                                        <img src="img/awsomeness/section4/logo3.png" class="" alt="">
                                    </div>
                                </div>
                                <div class="col-md-3 col-sm-3 col-xs-6">
                                    <div class="logos text-center">
                                        <span class="helper"></span>
                                        <img src="img/awsomeness/section4/logo4.png" class="" alt="">
                                    </div>
                                </div>
                            </div>
                            <div class="row bb">
                                <div class="col-md-3 col-sm-3 col-xs-6">
                                    <div class="logos text-center">
                                        <span class="helper"></span>
                                        <img src="img/awsomeness/section4/logo5.png" class="" alt="">
                                    </div>
                                </div>
                                <div class="col-md-3 col-sm-3 col-xs-6">
                                    <div class="logos text-center">
                                        <span class="helper"></span>
                                        <img src="img/awsomeness/section4/logo6.png" class="" alt="">
                                    </div>
                                </div>
                                <div class="col-md-3 col-sm-3 col-xs-6">
                                    <div class="logos text-center">
                                        <span class="helper"></span>
                                        <img src="img/awsomeness/section4/logo7.png" class="" alt="">
                                    </div>
                                </div>
                                <div class="col-md-3 col-sm-3 col-xs-6">
                                    <div class="logos text-center">
                                        <span class="helper"></span>
                                        <img src="img/awsomeness/section4/logo8.png" class="" alt="">
                                    </div>
                                </div>
                            </div>
                            <div class="row bb">
                                <div class="col-md-3 col-sm-3 col-xs-6">
                                    <div class="logos text-center">
                                        <span class="helper"></span>
                                        <img src="img/awsomeness/section4/logo9.png" class="" alt="">
                                    </div>
                                </div>
                                <div class="col-md-3 col-sm-3 col-xs-6">
                                    <div class="logos text-center">
                                        <span class="helper"></span>
                                        <img src="img/awsomeness/section4/logo10.png" class="" alt="">
                                    </div>
                                </div>
                                <div class="col-md-3 col-sm-3 col-xs-6">
                                    <div class="logos text-center">
                                        <span class="helper"></span>
                                        <img src="img/awsomeness/section4/logo11.png" class="" alt="">
                                    </div>
                                </div>
                                <div class="col-md-3 col-sm-3 col-xs-6">
                                    <div class="logos text-center">
                                        <span class="helper"></span>
                                        <img src="img/awsomeness/section4/logo12.png" class="" alt="">
                                    </div>
                                </div>
                            </div>
                            <div class="row bb">
                                <div class="col-md-3 col-sm-3 col-xs-6">
                                    <div class="logos text-center">
                                        <span class="helper"></span>
                                        <img src="img/awsomeness/section4/logo13.png" class="" alt="">
                                    </div>
                                </div>
                                <div class="col-md-3 col-sm-3 col-xs-6">
                                    <div class="logos text-center">
                                        <span class="helper"></span>
                                        <img src="img/awsomeness/section4/logo14.png" class="" alt="">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
