<div class="pay-abt-header" ngu>
  <div class="template header" ng-include="template.header"></div>
  <div class="section">
    <div class="about bg-color-abt">
      <div class="abt-cont pt100">
        <div class="row">
          <div class="col-md-offset-3 col-md-6 col-sm-offset-2 col-sm-8">
            <img src="img/bubble.png" alt="" class="bubble-middle ab">
            <h2 class="main-head"> THE WAY WE DO IT!</h2>
          </div>
        </div>
        <div class="row">
          <div class="rocket ab">
            <img src="img/gif/Paper-Plane-2a.gif" class="home-areoplane ab">
          </div>
          <div class="col-md-3 col-sm-2">
            <div class="min-hght">
              <div class="window-left ab">
                <img src="img/awsomeness/section2/window.png" alt="">
              </div>
            </div>
          </div>
          <div class="col-md-3 col-sm-4">
            <div class="cont-main">
              <h3>
                WE BELIEVE
                <!-- <img src="img/salute.png" alt="" class="salute-left">WE BELIEVE</h3> -->
                <p>
                  In being <b>Awesome. Creative. Innovative. Result Driven.</b> In being <b>prompt and ready for change.</b> </p>
                <p>
                  In the process of what we do. In doing Kick-ass work. <b>We are here for a reason. Our role adds value.</b></p>
                <p>
                  Our decisions have real time impact. In taking action. <b>For ideas if not well-executed will mean nothing.</b></p>
                <p>
                  We believe in <b>helping first and selling later</b> for we are hungry but not desperate.</p>
                <p>
                  Instead of selling a service, we’d rather <b>focus on doing what is best for our client.</b> Even if it
                  means telling them that we are not the right person for the job. </p>
            </div>
            <div class="cont-main">
              <h3>WE RESPECT
                <!-- <img src="img/salute.png" alt="" class="salute-right width-right"> -->
                <!-- <img src="img/salute.png" alt="" class="salute-left"> -->
              </h3>
              <p>
                Clients. Commitments. <b>Confidentiality. </b>Our Colleagues. <b>Deadlines. </b> Ideas. Service Partners.
              </p>
              <p><b>We value integrity more than anything.</b> </p>
            </div>
            <div class="cont-main">
              <h3>WE HAVE
                <!-- <img src="img/thumbsup.png" alt="" class="thumbsup-right"> -->
              </h3>
              <p>
                <b>The Autonomy to be Awesome.</b> We are empowered to take decisions that will work for the business. No
                matter how simple or crazy the idea. All we do ensure though is to use good judgement.
              </p>
              <p><b>What’s that? Simple. Team > Self</b></p>
            </div>

          </div>
          <div class="col-md-3 col-sm-4">
            <div class="cont-main">
              <h3>WE DON'T
                <!-- <img src="img/dont.png" alt="" class="dont-right width-right"> -->
              </h3>
              <p>
                Exploit, cheat or steal credit. In a perfect world that likes these things, we’d rather be the ‘loose nut’ that begs to differ.
                We also don’t track attendance.
              </p>
            </div>
            <div class="cont-main">
              <!-- <img src="img/salute.png" alt="" class="salute-left"> -->
              <h3>WHAT MATTERS TO US
                <!-- <img src="img/clock.png" alt="" class="clock-right"> -->
              </h3>
              <p><b>Results > Hours Spent At Work.</b></p>
              <p>
                  We will never fuss about how long one should hang around in office <b>as long as work is completed within deadlines and client commitments are met.</b> We expect this of every manager irrespective of the level they are at.
              </p>
            </div>
            <div class="cont-main">
              <h3>WE ARE
                <!-- <img src="img/thewaywedoit.png" alt="" class="dont-right width-right-doit"> -->
              </h3>
              <p>
                <b>Uncomfortably brutal</b> when it comes to transparency. <b>The intent</b> is to support the right behavior
                and better decision making.
              </p>
              <p>
                <b>Picky about whom we pick. We want people with heart more than grades. </b></p>
              <p>
                  We love people with heart more than grades. People who, at their core are</p>
              <p>
                  <b>Humble</b> [Take Responsibility &amp; Give Credit], are <b>Effective</b> [Make a dent. Get Shit done], <b>Adaptable</b> [Life Long Learners], <b>Remarkable</b> [Understand the business, are
                  Creative &amp; Resourceful] and are <b>Transparent</b> [With us and others]</p>
                  <p><b>We don’t hire brilliant qualified jerks. Period.</b> Instead, we bet on people.</p>
              <p>
                  <b>That’s the way we do it.</b>
              </p>
            </div>
          </div>
          <div class="col-md-3 col-sm-2">
            <div class="min-hght">
              <div class="window-right ab">
                <img src="img/awsomeness/section2/window.png" alt="" class="">
              </div>
              <img src="img/puppet/guy1.png" alt="" class="guy1 guy1-abt ab">
            </div>
          </div>
        </div>
      </div>
      <div class="floor">
        <img src="img/floor.jpg" class="img-responsive">
      </div>
    </div>
  </div>
</div>