<div class="pay-abt-header">
  <div class="template header" ng-include="template.header"></div>
  <div class="section">
    <div class="awsomeness home">
      <section auto-height class="section one" id="" ng-include="section.one"></section>
    </div>
    <div class="about bg-color-abt">
      <div class="abt-cont pt100">
        <div class="row">
          <div class="col-md-offset-3 col-md-6 col-sm-offset-2 col-sm-8">
            <img src="img/bubble.png" alt="" class="bubble-middle ab">
            <h2 class="main-head"> THE WAY WE DO IT!</h2>
          </div>
        </div>
        <div class="row">
          <div class="col-md-3 col-sm-2">
            <div class="min-hght">
              <img src="img/awsomeness/section2/areoplane.png" alt="" class="areoplane ab">
              <div class="window-left ab">
                <img src="img/awsomeness/section2/window.png" alt="">
              </div>
            </div>
          </div>
          <div class="col-md-3 col-sm-4">
            <div class="cont-main">
              <h3>
                <img src="img/salute.png" alt="" class="salute-left"> WE BELIEVE</h3>
              <p>
                In ourselves. In being Awesome. Creative. Innovative. Fun. In being prompt and ready for change.</p>
              <p>
                In the process of what we do. In doing Kick- ass work. We are here for a reason. Our role adds value. Our decisions have real time impact. </p>
              <p>
                In taking action. For ideas if not well- executed will mean nothing.</p>
              <p>
                We help first and sell later for we are hungry but not desperate. </p>
              <p>
                Instead of selling a service, we focus on doing what is best for our client. Even if it means telling them that we are not the right person for the job.</p>
            </div>
            <div class="cont-main">
              <h3>WE RESPECT
                <img src="img/salute.png" alt="" class="salute-right width-right">
              </h3>
              <p>
                Clients. Commitments. Confidentiality. Our Colleagues. Deadlines. Ideas. Giving Credit. Partners and the value we add through work..
              </p>
            </div>
            <div class="cont-main">
              <h3>WE HAVE
                <img src="img/thumbsup.png" alt="" class="thumbsup-right">
              </h3>
              <p>
                The Autonomy to be Awesome. We are empowered to take decisions that will work for the business. No matter how simple or crazy the idea. All we do is use good judgement. What’s that? Simple. Team > Self.
              </p>
            </div>

          </div>
          <div class="col-md-3 col-sm-4">
            <div class="cont-main">
              <h3>WE DON'T
                <img src="img/dont.png" alt="" class="dont-right width-right">
              </h3>
              <p>
                Exploit, cheat or steal credit. In a perfect world that likes these things, we’d rather be the ‘loose nut’ that begs to differ. We value integrity more than anything.
              </p>
            </div>
            <div class="cont-main">
              <img src="img/salute.png" alt="" class="salute-left">
              <h3>WHAT REALLY
                <br> MATTERS TO US
                <img src="img/clock.png" alt="" class="clock-right">
              </h3>
              <p>
                Results > Hours Spent At Work. We will never fuss about how long one should hang around in office as long as work is completed within deadlines.
              </p>
            </div>
            <div class="cont-main">
              <h3>WE ARE.</h3>
              <p>
                Uncomfortably brutal when it comes to transparency. The intent is to support the right behaviour and better decision making.
              </p>
              <p>
                Picky about whom we pick. We want people with heart more than grades. </p>
              <p>
                Ones who are Humble [Take Responsibility &amp; Give Credit], are Effective [Make a dent. Get Shit done], Adaptable [Life Long Learners], Remarkable [Understand the business, are Creative & Resourceful] and are Transparent [With us and others]</p>
              <p>
                We don’t hire brilliant qualified jerks. Period. </p>
              <p>
                Instead, we bet on people.
              </p>
            </div>
          </div>
          <div class="col-md-3 col-sm-2">
            <div class="min-hght">
              <div class="window-right ab">
                <img src="img/awsomeness/section2/window.png" alt="" class="">
              </div>
              <img src="img/puppet/guy1.png" alt="" class="guy1 guy1-abt ab">
            </div>
          </div>
        </div>
      </div>
      <div class="floor">
        <img src="img/floor.jpg" class="img-responsive">
      </div>
    </div>
  </div>
</div>
