<!-- <div class="container">

    <flex-slider flex-slide="s in mySlides">
        <li>
            <img ng-src="{{s}}">
        </li>
    </flex-slider>

</div> -->
<div class="template header" ng-include="template.header"></div>
<div class="bg-blue">
  <section auto-height class="section one" id="" ng-include="section.one"></section>
  <section class="section two" id="" ng-include="section.two"></section>
  <section class="section three" id="" ng-include="section.three"></section>
  <section class="section four" id="" ng-include="section.four"></section>
  <section class="section five" id="" ng-include="section.five"></section>
</div>
