<!-- <div class="container">

    <flex-slider flex-slide="s in mySlides">
        <li>
            <img ng-src="{{s}}">
        </li>
    </flex-slider>

</div> -->
<div class="awsomeness-header">
<div class="template header sticky-bottom" scroll ng-include="template.header"></div>
<div class="bg-blue">
  <section auto-height class="section one" id="awesomeness" ng-include="section.one"></section>
  <section class="section two" id="clientwork" ng-include="section.two"></section>
  <section class="section three" id="businessaward" ng-include="section.three"></section>
  <section class="section four" id="testimonials" ng-include="section.four"></section>
  <section class="section five" id="newwave" ng-include="section.five"></section>
</div>
</div>
