<!-- <div class="container">

    <flex-slider flex-slide="s in mySlides">
        <li>
            <img ng-src="{{s}}">
        </li>
    </flex-slider>

</div> -->
<div class="template header sticky-bottom" ng-include="template.header"></div>
<div class="">
  <section autoHeight class="section one" id="" ng-include="section.one"></section>
  <section class="section two" id="" ng-include="section.two"></section>
  <section class="section three" id="" ng-include="section.three"></section>
  <section class="section four" id="" ng-include="section.four"></section>
  <section class="section five" id="" ng-include="section.five"></section>
  <section class="section six" id="" ng-include="section.six"></section>
  <section class="section seven" id="" ng-include="section.seven"></section>
  <section class="section eight" id="" ng-include="section.eight"></section>
  <section class="section nine" id="" ng-include="section.nine"></section>
  <section class="section ten" id="" ng-include="section.ten"></section>
</div>
