<div class="template header sticky-bottom" scroll ng-include="template.header"></div>
<div class="">
  <section auto-height class="section one" id="home" ng-include="section.one"></section>
  <section auto-height class="section two section-ngu" id="" ng-include="section.two"></section>
  <section auto-height class="section three" id="employeeengagement" ng-include="section.three"></section>
  <section auto-height class="section four hq-bg" id="happynessquotient" ng-include="section.four"></section>
  <section  class="section five" id="clients" ng-include="section.five"></section>
  <section auto-height class="section six bg-blue" id="" ng-include="section.six"></section>
  <section auto-height class="section seven bg-skin-main" id="media" ng-include="section.seven"></section>
  <section auto-height class="section eight bg-blue" id="about" ng-include="section.eight"></section>
  <section auto-height class="section nine bg-pinkcont" id="contact" ng-include="section.nine"></section>
  <section auto-height class="section ten subscribe" id="" ng-include="section.ten"></section>
</div>
