<div class="template header sticky-bottom" scroll ng-include="template.header"></div>
<div class="">
  <section auto-height class="section one" id="home" ng-include="section.one"></section>
  <section auto-height class="section two section-ngu" id="" ng-include="section.two"></section>
  <section class="section three" id="employeeengagement" ng-include="section.three"></section>
  <section auto-height class="section four hq-bg hq-padding" id="happynessquotient" ng-include="section.four"></section>
  <section class="section five hq-spacing" id="clients" ng-include="section.five"></section>
  <section auto-height class="section six bg-blue hq-padding" id="client-testimonial" ng-include="section.six"></section>
  <section auto-height class="section seven bg-skin-main" id="media" ng-include="section.seven"></section>
  <section auto-height class="section eight bg-blue hq-padding" id="about" ng-include="section.eight"></section>
  <section auto-height class="section nine bg-pinkcont hq-padding" id="contact" ng-include="section.nine"></section>
  <section auto-height class="section ten subscribe hq-padding" id="" ng-include="section.ten"></section>
  <!--Unplugged section eleven-->
  <section auto-height class="section eleven bg-unplugged" id="unplugged" ng-include="section.eleven"></section>
</div>