<div class="pay-abt-header" ngu>
  <div class="template header" ng-include="template.header"></div>
  <div class="section">
    <div class="payment about bg-color-payment">
      <div class="pt100">
        <div class="row">
          <div class="rocket ab">
            <img src="img/gif/Paper-Plane-2a.png" class="home-areoplane ab">
          </div>
          <div class="col-md-offset-3 col-md-6 col-sm-offset-2 col-sm-8">
            <img src="img/bubble.png" alt="" class="bubble-middle ab">
            <h2 class="main-head">Payment Options</h2>
            <h4 class="sub-head">Oh yes, we do accept money! </h4>
          </div>
        </div>
        <div class="row">
          <div class="col-md-3 col-sm-2">
            <div class="min-hght">
              <div class="window-left ab">
                <img src="img/awsomeness/section2/window.png" alt="">
              </div>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="cont">
              <div class="head">
                <h3 class="payment-head"></h3>
                <p>Draw us a cheque in the name of "NEVER GROW UP WORKSHOPS PRIVATE LIMITED"
                  <br> and send it across to our registered office address below: </p>
              </div>
              <div class="address mar-btm20">
                <p class="bold"> Never Grow Up </p>
                <p class="bold">5/A, Basant Mahal, Nana Phadnavis Road, Wadala East,</p>
                <p class="bold">Mumbai 400037</p>
              </div>
              <div class="uppercase  mar-btm20">
                or
              </div>
              <div class="account mar-btm20">
                Deposit the relevant amount into the
                <span class="bold">HDFC Bank</span> account number mentioned below
                <div class="row">
                  <div class="col-xs-4 bold">Account Name:</div>
                  <div class="col-xs-8"> Never Grow Up Workshops Pvt. Ltd.</div>
                </div>
                <div class="row">
                  <div class="col-xs-4 bold">A/C Number</div>
                  <div class="col-xs-8"> 00 842560 002177</div>
                </div>
                <div class="row">
                  <div class="col-xs-4 bold">IFSC Code</div>
                  <div class="col-xs-8"> HDFC 0000084</div>
                </div>
                <div class="row">
                  <div class="col-xs-4 bold">MICR Code</div>
                  <div class="col-xs-8"> 40024 0020</div>
                </div>
                <div class="row">
                  <div class="col-xs-4 bold">Branch </div>
                  <div class="col-xs-8"> Imperial Mahal, Dadar TT Branch.</div>
                </div>
              </div>

              <!-- <div class="account mar-btm20">
                For
                <span class="bold">Happyness Quotient [HQ] payments,</span> please use the following account details:
                <div class="row">
                  <div class="col-xs-4 bold">Account Name:</div>
                  <div class="col-xs-8"> Never Grow Up Workshops Pvt. Ltd.</div>
                </div>
                <div class="row">
                  <div class="col-xs-4 bold">A/C Number</div>
                  <div class="col-xs-8">502 000 114 77382</div>
                </div>
                <div class="row">
                  <div class="col-xs-4 bold">IFSC Code</div>
                  <div class="col-xs-8">HDFC 0000084</div>
                </div>
                <div class="row">
                  <div class="col-xs-4 bold">MICR Code</div>
                  <div class="col-xs-8"> 40024 0020</div>
                </div>
                <div class="row">
                  <div class="col-xs-4 bold">Branch </div>
                  <div class="col-xs-8"> Imperial Mahal, Dadar TT Branch.</div>
                </div>
              </div> -->
            </div>
          </div>
          <div class="col-sm-3">
            <div class="min-hght">
              <img src="img/locker.png" alt="" class="locker ab">
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="floor">
      <img src="img/floor.jpg" class="img-responsive">
    </div>
  </div>
</div>
