<div class="tab-menu">
  <ul>
    <li ui-sref="consulting" ui-sref-active="active">Consulting</li>
    <li ui-sref="happyness" ui-sref-active="active">Happyness Quotient</li>
    <li ui-sref="workshops" ui-sref-active="active">Workshops &amp; Offsites</li>
    <li ui-sref="employer-branding" ui-sref-active="active">Employer Branding</li>
    <li ui-sref="internal" ui-sref-active="active">Internal Communications</li>
    <li ui-sref="workspace" ui-sref-active="active">Workspace Design</li>
    <li ui-sref="corporate" ui-sref-active="active">Corporate Social Responsibility</li>
    <li ui-sref="digital" ui-sref-active="active">Digital, Technology &amp; Content</li>
    <li ui-sref="quirky" ui-sref-active="active">Being Quirky!</li>
  </ul>
</div>
