<footer class="bg-brown">
  <div class="nav-footer pb20 pt20">
    <ul class="text-center">
      <li><a href="#">Home</a></li>
      <li><a ng-click="changeURL('services')">Services</a></li>
      <li><a href="#">Blog</a></li>
      <li><a ng-click="changeURL('media')">Media</a></li>
      <li><a  ng-click="changeURL('clients')">Clients</a></li>
      <li><a  ng-click="changeURL('contact')">Contact</a></li>
      <li><a  ng-click="changeURL('about')">About Us</a></li>
    </ul>
  </div>
  <div class="nav-footer mb0">
    <ul class="text-center">
      <li><a href="#/consulting">Consulting</a></li>
      <li><a href="#/employer-branding">Employer Branding</a></li>
      <li><a href="#/quirky">Being Quirky</a></li>
      <li><a href="#/happyness">Happyness Quotient</a></li>
    </ul>
  </div>
  <div class="nav-footer mb0">
    <ul class="text-center">
      <li><a href="#/workspace">Workspace Design </a></li>
      <li><a href="#/corporate"> Corporate Social Responsibility</a></li>
      <li><a href="#/internal">Internal Communications</a></li>
      <li><a href="#/workspace">Workshops &amp; Offsites</a></li>
      <li><a href="#/digital">Digital Technology &amp; Content</a></li>
    </ul>
  </div>
  <div class="social-links-footer">
    <ul>
      <li>
        <a href="#">
          <i class="fa fa-facebook"></i>
        </a>
      </li>
      <li>
        <a href="#">
          <i class="fa fa-twitter"></i>
        </a>
      </li>
      <li>
        <a href="#">
          <i class="fa fa-linkedin"></i>
        </a>
      </li>     
        <li>
        <a href="#">
          <i class="fa fa-google-plus"></i>
        </a>  
		</li>
             <li> 
              <a href="#">
          <i class="fa fa-instagram"></i>
        </a>
      </li>
    </ul>
  </div>
  <div class="footer-cont">
    <p class="text-center">&copy; 'Never Grow Up' and the 'Never Grow Up Brown Box Logo’ are registered trademarks of [NGUWPL] Never Grow Up &reg; Workshops Pvt. Ltd.</p>
    <p class="text-center">Yellow Seed Content Solutions is a group company of Never Grow Up &reg;WPL &copy;</p>
    <p class="text-center">All rights reserved | Terms of Use, Policies and All Other Mumbo Jumbo | The Gang of Loonies!</p>
    <p class="text-center">Designed by <a href="http://ting.in/" target="_blank">TING</a> | SEO by <a href="http://www.ewebac.com/" target="_blank">EWEBAC</a></p>
  </div>
</footer>
