<footer class="bg-brown">
    <div class="nav-footer pb20 pt20">
        <ul class="text-center">
            <li><a href="#">Home</a></li>
            <li><a ng-click="changeURL('employeeengagement')">Services</a></li>
            <li><a href="http://blog.willnevergrowup.com/" target="_blank">Blog</a></li>
            <li><a ng-click="changeURL('media')">Media</a></li>
            <li><a ng-click="changeURL('clients')">Clients</a></li>
            <li><a ng-click="changeURL('contact')">Contact</a></li>
            <li><a ng-click="changeURL('about')">About Us</a></li>
        </ul>
    </div>
    <div class="nav-footer mb0">
        <ul class="text-center">
            <li><a ui-sref="consulting">Consulting</a></li>
            <li><a ui-sref="employer-branding">Employer Branding</a></li>
            <li><a ui-sref="quirky">Quirky Merchandise</a></li>
            <li><a ui-sref="happyness">Happyness Quotient</a></li>
        </ul>
    </div>
    <div class="nav-footer mb0">
        <ul class="text-center">
            <li><a ui-sref="workspace">Workspace Design </a></li>
            <li><a ui-sref="corporate"> Corporate Social Responsibility</a></li>
            <li><a ui-sref="internal">Internal Communications</a></li>
            <li><a ui-sref="workshops">Workshops &amp; Offsites</a></li>
            <li><a ui-sref="digital">Digital, Technology &amp; Content</a></li>
        </ul>
    </div>
    <div class="social-links-footer">
        <ul>
            <li><a href="https://www.linkedin.com/company/1650364?trk=tyah&trkInfo=clickedVertical%3Acompany%2CclickedEntityId%3A1650364%2Cidx%3A3-1-4%2CtarId%3A1455282776964%2Ctas%3Anever%20grow%20up" target="_blank"><i class="fa fa-linkedin"></i></a></li>
            <li><a href="https://twitter.com/search?q=%40HappynessAtWork&src=typd" target="_blank"><i class="fa fa-twitter"></i></a></li>
            <li><a href="https://www.facebook.com/WorkplaceHappyness" target="_blank"><i class="fa fa-facebook"></i></a></li>
            <!-- <li><a href="https://www.instagram.com/HappynessAtWork/" target="_blank"><i class="fa fa-instagram"></i></a></li>
      <li><a href=" https://plus.google.com/u/1/" target="_blank"><i class="fa fa-google-plus"></i></a></li> -->
        </ul>
    </div>
    <div class="footer-cont">
        <p class="text-center">&copy; 'Never Grow Up' and the 'Never Grow Up Brown Box Logo’ are registered trademarks of [NGUWPL] Never Grow Up &reg; Workshops Pvt. Ltd.</p>
        <p class="text-center"><a href="http://www.itsyellowseed.com/" target="_blank">Yellow Seed</a> Content Solutions is a group company of Never Grow Up &reg;WPL &copy;</p>
        <p class="text-center"><a href="http://www.willnevergrowup.com/pdf/Terms-of-Use%20-Never-Grow-Up.pdf" target="_blank">All rights reserved | Terms of Use, Policies and PDF</a> | <a ui-sref="payment" target="_blank">Payment Options</a></p>
        <p class="text-center">Designed by <a href="http://ting.in/" target="_blank">TING</a> | SEO by <a href="http://www.ewebac.com/" target="_blank">EWEBAC</a></p>
    </div>
</footer>
