<footer class="bg-white" ng-controller="headerctrl">
    <div class="nav-footer pb20 pt20">
        <ul class="text-center">
            <!-- <li>
                <a ng-click="changeURLFooter('')">Home</a>
            </li> -->
            <li>
                <a ng-click="changeURLFooter('about-us')">About Us</a>
            </li>
            <li>
                <a ng-click="changeURLFooter('employee-engagement')">Services</a>
            </li>
            <li>
                <a ng-click="changeURLFooter('happyness-quotient')">Happyness Quotient</a>
            </li>
            <li>
                <a ng-click="changeURLFooter('Return-on-Engagement')">ROE</a>
            </li>
            <li>
                <a ng-click="changeURLFooter('fun-at-workplace')">Unpluggd</a>
            </li>
            <li>
                <a ng-click="changeURLFooter('clients')">Clients</a>
            </li>
            <!-- <li>
                <a ng-click="changeURLFooter('clients')">Client Speaks</a>
            </li> -->
            <li>
                <a ng-click="changeURLFooter('media-platforms')">Media</a>
            </li>
            <li>
                <a href="http://blog.willnevergrowup.com/" target="_blank">Blog</a>
            </li>

            <li>
                <a ng-click="changeURLFooter('contact-us')">Contact Us</a>
            </li>


        </ul>
    </div>
    <div class="nav-footer mb0">
        <ul class="text-center">
            <li>
                <a ui-sref="consulting">Talent Consulting</a>
            </li>
            <li>
                <a ui-sref="employer-branding">Employer Branding</a>
            </li>
            <li>
                <a ui-sref="happyness">Happyness Quotient</a>
            </li>
            <li>
                <a ui-sref="digital">Technology &amp; Content</a>
            </li>


        </ul>
    </div>
    <div class="nav-footer mb0">
        <ul class="text-center">
            <li>
                <a ui-sref="workshops">Workshops &amp; Interventions</a>
            </li>
            <li>
                <a ui-sref="internal">Communications &amp; Design</a>
            </li>
            <li>
                <a ui-sref="corporate"> Corporate Social Responsibility</a>
            </li>
            <li>
                <a ui-sref="workspace">Public Relations</a>
            </li>
            <li>
                <a ui-sref="quirky">Office Quirkies</a>
            </li>
        </ul>
    </div>
    <div class="social-links-footer">
        <ul>
            <!-- <li>
                <a href="https://www.linkedin.com/company/1650364?trk=tyah&trkInfo=clickedVertical%3Acompany%2CclickedEntityId%3A1650364%2Cidx%3A3-1-4%2CtarId%3A1455282776964%2Ctas%3Anever%20grow%20up"
                    target="_blank">
                    <i class="fa fa-linkedin"></i>
                </a>
            </li>
            <li>
                <a href="https://twitter.com/HappynessAtWork" target="_blank">
                    <i class="fa fa-twitter"></i>
                </a>
            </li>
            <li>
                <a href="https://www.facebook.com/WorkplaceHappyness" target="_blank">
                    <i class="fa fa-facebook"></i>
                </a>
            </li> -->
            <!-- <li><a href="https://www.instagram.com/HappynessAtWork/" target="_blank"><i class="fa fa-instagram"></i></a></li>
      <li><a href="https://plus.google.com/+NeverGrowUpWPL" target="_blank"><i class="fa fa-google-plus"></i></a></li> -->
        </ul>
    </div>
    <div class="footer-cont">
        <p class="text-center">&copy; 'Never Grow Up’ and the ‘Never Grow Up Brown Box Logo’ along with ‘Happyness
            Quotient’ &amp; the 'Office Quirkies'<br>
            logo, content and nomenclature are registered trademarks of Never Grow Up &reg;Workshops Pvt. Ltd.<br>
            Happyness Quotient is a Patent Pending Technology Product powered by Never Grow Up® | CBR 3584. All rights
            reserved.
        </p>
        <p class="text-center">
            <a href="http://www.itsyellowseed.com/" target="_blank">Yellow Seed</a> Content Solutions is a group
            company of Never Grow Up &reg;WPL &copy;</p>
        <p class="text-center">
            <!-- <a href="http://www.willnevergrowup.com/pdf/Terms-of-Use%20-Never-Grow-Up.pdf" target="_blank">All rights reserved | Terms of Use, Policies and PDF</a>          -->
            <a ui-sref="payment" target="_blank" class="font-12">Payment Options</a>
        </p>
        <!-- <p class="text-center">Designed by
            <a href="http://ting.in/" target="_blank">TING</a>
        </p> -->
    </div>
    <div class="scrolltotop" ng-if="awesomenessArrow=='awesomenessid' || awesomenessArrow=='awesomeness'">
        <a class="" ng-click="scrollTop()">
            <i class="fa fa-chevron-circle-up" aria-hidden="true"></i>
        </a>
    </div>
</footer>