<footer class="bg-brown">
  <div class="nav-footer pb20 pt20">
    <ul class="text-center">
      <li><a href="#">Home</a></li>
      <li><a href="#">Services</a></li>
      <li><a href="#">Blog</a></li>
      <li><a href="#">Media</a></li>
      <li><a href="#">Clients</a></li>
      <li><a href="#">Contact</a></li>
      <li><a href="#">About Us</a></li>
    </ul>
  </div>
  <div class="nav-footer mb0">
    <ul class="text-center">
      <li><a href="#">Consulting</a></li>
      <li><a href="#">Employer Branding</a></li>
      <li><a href="#">Happyness Quotient</a></li>
      <li><a href="#">Being Quirky</a></li>
    </ul>
  </div>
  <div class="nav-footer mb0">
    <ul class="text-center">
      <li><a href="#">Workspace Design </a></li>
      <li><a href="#"> Corporate Social Responsibility</a></li>
      <li><a href="#">Internal Communications</a></li>
      <li><a href="#">Workshops &amp; Offsites</a></li>
      <li><a href="#">Digital Technology &amp; Content</a></li>
    </ul>
  </div>

  <div class="footer-cont">
    <p class="text-center">&copy; 'Never Grow Up' and the 'Never Grow Up Brown Box Logo’ are registered trademarks of [NGUWPL] Never Grow Up &reg; Workshops Pvt. Ltd.</p>
    <p class="text-center">Yellow Seed Content Solutions is a group company of Never Grow Up &reg;WPL &copy;</p>
    <p class="text-center">All rights reserved | Terms of Use, Policies and All Other Mumbo Jumbo | The Gang of Loonies!</p>
    <p class="text-center">Designed by <a href="http://ting.in/" target="_blank">TING</a> | SEO by <a href="http://www.ewebac.com/" target="_blank">EWEBAC</a></p>
  </div>
</footer>
