<header ng-controller="headerctrl">
    <nav class="navbar navbar-default navbar-fixed-top sticky-bottom-abtpay" scroll>
        <div class="container">
            <div class="navbar-header">
                <div class="menu-circle visible-xs" ng-class="{'closer': showMenu == true}" ng-click="toggleMenu();">
                    <span class="bar bar1"></span>
                    <span class="bar bar2"></span>
                    <span class="bar bar3"></span>
                </div>
                <a class="navbar-brand" ui-sref="home"><img src="img/logo.png" alt="logo" width="120"> </a>
            </div>
            <div class="menu-new" ng-class="{'show': showMenu == true}">
                <div ng-include="template.menu" class="template menu"></div>
            </div>
        </div>
    </nav>
</header>