<div class="row">
  <div class="col-md-7">
    <div class="consulting">
      <div class="head-tabs">
        <h3 class="head-yellow">
          <img src="img/icons/consulting.png" alt=""> Consulting
        </h3>
      </div>
      <p>
        We believe that
        <span class="bold">happy and engaged employees result into a more productive workforce,</span>
        which in turn means a positive impact on attrition and the company bottom line. Sometimes all it takes is a fresh perspective to think out of the box and build
        <span class="bold">employee connect.
        </span>
      </p>
      <p>
        With no two company cultures really being similar, our ‘tailor-made’ approach helps bring about a sense of amity, encourages recognition, builds camaraderie and makes life at work more interesting! From
        <span class="bold">engagement strategy to execution calendars and implementation support, </span>
        we have a box full of options that are sure to brighten your day!
      </p>
      <p>
        Throw us a challenge, pose a question,
        <span class="bold"> give us a brief</span>
        or just ask us how is it that we can make your organization a happy and desired place to work and be in.
      </p>
    </div>
  </div>
  <div class="col-md-5">
    <div class="windows">
      <img src="img/awsomeness/section2/window.png" alt="">
    </div>
    <div class="people">
      <img src="img/others/people-engagement.png" alt="">
    </div>
  </div>
</div>
