<div class="consulting rl">
  <div class="row">
    <div class="col-md-8">
      <div class="hq-cont-yellow">
        <div class="head-tabs">
          <h3 class="head-yellow">
            <!-- <img src="img/icons/consulting.png" alt="">  -->
            Talent Consulting
          </h3>
        </div>
        <p>
          As a team, we take time to understand your organization and your people. Often, digging deep into culling insights on
          <a href="http://www.happynessquotient.com/#/happyness" target="_blank">
            what drives people</a> &amp; how they connect with work. With no two teams being the same, we understand that
          what works for some, is not likely to work for everyone.
        </p>
        <p>
          Be it
          <span class="bold">
            running qualitative diagnostics
          </span> that help people align with business to working closely with key stakeholders to deliver
          <span class="bold">
            results and build camaraderie or drive values across the company while benchmarking culture and policies</span>,
          our unbiased viewpoints are sure to make a dent for companies looking to make a difference.
        </p>

        <p>
          <a ng-click="changeURL('contact')"> Give us a brief</a> / ask us how is it that we can make your organization a happy place to work &amp; be in?
        </p>
      </div>
    </div>
    <div class="col-md-4">
    </div>
  </div>
  <div class="ab lamp">
    <img src="img/awsomeness/section1/lamp.png" alt="" class="img-responsive">
  </div>
  <div class="window-right">
    <img src="img/awsomeness/section1/service-1.png" alt="" class="img-responsive">
  </div>
</div>