<div class="corporate rl service-common">

  <div class="row">
    <div class="col-md-7">
      <div class="hq-cont-yellow">
        <div class="head-tabs">
          <h3 class="head-yellow">
            <!-- <img src="img/icons/social.png" alt="">  -->
            Corporate Social Responsibility
          </h3>
        </div>
        <p>
          Research shows that employees are more likely to stick with organizations that care and give back to the
          society and environment
          they operate in.
          <span class="bold">Engaging employees through corporate social responsibility initiatives</span> and helping
          them spread some cheer
          not only brings people together; it also humanizes you as a company with a soul.

        </p>
        <p>
          This said, corporate social responsibility is not only about the mandatory spends but about action,
          sustainability and giving
          back.
          <a ng-click="changeURL('contact')" class="blue-color">Talk to our team </a> if you’d like us to help
          craft
          and execute a CSR strategy and ensure capital deployment
          in a manner that adds value. Backed by
          <span class="bold">implementation support</span> and
          <span class="bold">turnkey management</span>, be rest assured about seeing your efforts bear fruit!
        </p>
      </div>
    </div>
    <div class="col-md-5">
      <div class="window-right corporate">
        <img src="img/services/s-7.png" alt="">
      </div>
    </div>
  </div>
  <div class="lamp ab">
    <img src="img/services/dark-lamp.png" alt="">
  </div>
</div>