<div class="row">
  <div class="col-md-8">
    <div class="hq-cont-yellow">
      <div class="head-tabs">
        <h3 class="head-yellow">
          <img src="img/icons/social.png" alt=""> Corporate Social Responsibility
        </h3>
      </div>
      <p>
        Research shows that employees are more likely to stick with organizations that care and give back to the society and environment they operate in. Engaging employees through corporate social responsibility initiatives and helping them spread some cheer
        not only brings people together; it also humanizes you as a company with a soul.
      </p>
      <p>
        This said, corporate social responsibility is not only about spends but about action and giving back. Talk to our team if you’d like us to help create a CSR strategy and ensure capital deployment in a manner that adds value. Backed by implementation support
        and turnkey management, be rest assured about seeing your efforts bear fruit.
      </p>
    </div>
  </div>
  <div class="col-md-4">
    <div class="window-right corporate">
      <img src="img/awsomeness/section2/window.png" alt="">
    </div>
  </div>
</div>
<div class="people bt-corporate">
  <img src="img/others/social.png" alt="" class="ab">
</div>
