<div class="row">
  <div class="col-md-8">
    <div class="hq-cont-yellow">
      <div class="head-tabs">
        <h3 class="head-yellow">
          <img src="img/icons/digital.png" alt=""> Digital, Techonology &amp; Content
        </h3>
      </div>
      <p>
        Your new age employee is checking you out as you read this. They are listening into you even before you look at their resume while existing employees are telling future recruits about what sort of a place your company might be.
      </p>
      <p>
        Our <span class="bold">social listening and content strategy services</span> backed by a gang of wordsmiths and content curators not only help build an awesome online presence for your company but also help create effective dialogue while monitoring growth and contributing to your employer branding initiatives.
      </p>
      <p>
        <span class="bold">Whether it's creating a social game to entrench brand values or looking at building online presence on social media, <a href="#/contact">get in touch if you’d like us to create content</a> that simply clicks!</span>
      </p>
    </div>
  </div>
  <div class="col-md-4">
    <div class="window-right digital">
      <img src="img/awsomeness/section2/window.png" alt="">
    </div>
  </div>
</div>
<div class="people bt-digital">
  <img src="img/others/digital.png" alt="" class="ab">
</div>
