<div class="row">
  <div class="col-md-8">
    <div class="hq-cont-yellow">
      <div class="head-tabs">
        <h3 class="head-yellow">
          <!-- <img src="img/icons/digital.png" alt="">  -->
          Techonology &amp; Content
        </h3>
      </div>
      <p>
        Your new age employee is checking you out as you read this. They are listening into you even before you look at their resume while existing employees are telling future recruits about what sort of a place your company might be.
      </p>
      <p>
        Our <span class="bold">content strategy and development services</span> backed by a gang of wordsmiths and content curators not only help build an awesome online presence for your company but also provide listening and help create effective dialogue thus contributing to ongoing Talent initiatives.
      </p>
      <p>
          Whether it's <span class="bold">creating your own app or microsite</span> or building online presence on social media while we <span class="bold">manage tech integration, get in touch</span> if you’d like us to create content that simply clicks!
      </p>
    </div>
  </div>
  <div class="col-md-4">
    <div class="window-right digital">
      <img src="img/awsomeness/section2/window.png" alt="">
    </div>
  </div>
</div>
<div class="people bt-digital">
  <img src="img/others/digital.png" alt="" class="ab">
</div>
