<div class="row">
  <div class="col-md-7">
    <div class="hq">
      <div class="head-tabs">
        <h3 class="head-yellow">
          <img src="img/icons/employer.png" alt=""> Employer Branding
        </h3>
      </div>
      <p>
        In an increasingly competitive talent market, a formidable employer brand can help <span class="bold">attract and retain the right kind of talent</span> just when you need it. Ensuring that you have a distinct brand image among existing and potential recruits can not only help <span class="bold">you save costs but also impact customer choices.</span>
      </p>
      <p>
        Easier said than done! Getting through the baggage that an employee tends to carry over the years is a noble but difficult task. For some it's purely about <span class="bold">striking the right balance</span> between work and personal life while for others, it is about being respected and appreciated at work.
      </p>
      <p>
        At Never Grow Up ®, we are constantly thinking of <span class="bold">ways for employees</span> to find the right environment, value framework and culture to function effectively. We believe that by <span class="bold">understanding what drives employees , taking action</span> and building ownership while making fun a priority in the work place, organizations can excel in areas where challenges and problems may have been the norm.
      </p>
      <p>
        Talk to us. We are happy to help.
      </p>
    </div>
  </div>
  <div class="col-md-5">
    <div class="windows">
      <img src="img/awsomeness/section2/window.png" alt="">
    </div>
    <div class="people">
      <img src="img/others/employer.png" alt="">
    </div>
  </div>
</div>
