<div class="row">
  <div class="col-md-8">
    <div class="hq-cont-yellow">
      <div class="head-tabs">
        <h3 class="head-yellow">
          <!-- <img src="img/icons/employer.png" alt="">  -->
          Employer Branding
        </h3>
      </div>
      <p>
        In an increasingly competitive talent market, a formidable employer brand can
        <span class="bold">help attract and retain the right kind of talent</span> just when you need it. Ensuring that you have a distinct
        brand image among existing and potential recruits can not only help you save costs but also impact employee choices.
      </p>
      <p>
        From
        <span class="bold">Thought Leadership &amp; CXO Communication</span> on Digital to
        <span class="bold">Campus Outreach</span> ideas,
        <span class="bold">Induction programs</span> to
        <span class="bold">qualitative Rewards and Recognition initiatives or mental health and wellness initiatives</span>, at Never Grow Up,
        we are constantly thinking of ways for employees to find the right environment, value framework and culture to function
        effectively.

      </p>
      <p>
        Cutting through the baggage, we believe that by understanding people, taking action and building ownership while making fun
        a priority in the work place, organizations can excel in areas where challenges and problems may have been the norm.
      </p>
      <p>
        <a ng-click="changeURL('contact')">Talk to us.</a> We are happy to help.
      </p>
    </div>
  </div>
  <div class="col-md-4">
    <div class="window-right">
      <img src="img/awsomeness/section2/window.png" alt="">
    </div>
  </div>
</div>
<div class="people bt-employer">
  <img src="img/others/employer.png" alt="" class="ab">
</div>