<div class=" happiness">

  <div class="row">
    <div class="col-md-7">
      <div class="hq-cont-yellow">
        <div class="head-tabs">
          <h3 class="head-yellow">
            <!-- <img src="img/icons/happyness.png" alt="">  -->
            Happyness Quotient
          </h3>
        </div>
        <p>
          Happyness Quotient
          <sup>TM</sup> is an innovative,
          <a href="http://www.happynessquotient.com/#/innovative" target="_blank" class="blue-color">patent-pending</a>
          People Management Tool that provides a real time indication of the level of happiness across
          your organization by analysing what drives individuals based on their personal and professional choices down
          to
          a department level.
        </p>
        <p>
          The tool is fun, flexible and can adapt to suit the needs of your organization! You can analyse responses to
          get a drilled
          down
          <span class="bold">‘one view’ of your company Happyness Quotient</span> &amp; administer it across desktops,
          IOS or Android devices.
        </p>
        <p>
          What’s more? The tool comes with the option to
          <span class="bold">customize core pillars, auto-pilot deployment</span> and track what matters to your
          company while we develop action
          plans to ensure sustainable and measurable impact.

        </p>
        <p>
          <span class="bold">
            <a href="http://www.happynessquotient.com " target="_blank" class="blue-color">Go ahead!</a>
          </span> Check out what makes a workplace a truly happy one to be in.
        </p>
      </div>
    </div>
    <div class="col-md-5 hidden-xs hidden-sm">
      <div class="window-right">
        <img src="img/services/s-3.png" alt="" class="img-responsive">
      </div>
    </div>
    <div class="visible-xs visible-sm">
      <div class="window-right">
        <img src="img/services/s-3.png" alt="" class="img-responsive">
      </div>
    </div>
  </div>
  <div class="lamp ab">
    <img src="img/services/projector.png" alt="" class=" img-responsive">
  </div>
  <div class="grass ab">
    <img src="img/services/grass.png" alt="" class=" img-responsive">
  </div>
</div>