<div class="row">
  <div class="col-md-7">
    <div class="hq">
      <div class="head-tabs">
        <h3 class="head-yellow">
          <img src="img/icons/happyness.png" alt=""> Happyness Quotient
        </h3>
      </div>
      <p>
        Happyness Quotient<sup>TM</sup> is an <span class="bold">innovative People Management Tool</span> that provides a real time indication of the level of happiness across your organization by analysing what drives individuals based on their personal and professional choices.
      </p>
      <p>
        HQ is <span class="bold">fun, flexible and can adapt</span> to suit the needs of your organization! You can analyse responses to get a <span class="bold">drilled down ‘one view’</span> of your Company Happyness Quotient &amp; administer it across desktops, IOS or Android devices.
      </p>
      <p>
        <span class="bold">What’s more?</span> The tool comes with the option to manage core pillars, auto-pilot deployment and track <span class="bold">what matters to your company</span> while we develop action plans to ensure sustainable and measurable impact.
      </p>
      <p>
        <span class="bold">Go ahead!</span> Check out what makes a workplace a truly happy one to be in.
      </p>
    </div>
  </div>
  <div class="col-md-5">
    <div class="windows">
      <img src="img/awsomeness/section2/window.png" alt="">
    </div>
    <div class="people">
      <img src="img/others/happyness.png" alt="">
    </div>
  </div>
</div>
