<div class="internal rl">
  <div class="row">
    <div class="col-md-7">
      <div class="hq-cont-yellow">
        <div class="head-tabs">
          <h3 class="head-yellow">
            <!-- <img src="img/icons/internal.png" alt="">  -->
            Communications &amp; Design
          </h3>
        </div>
        <p>
          We live in a world surrounded by a workforce that wants to be ‘involved and have a say’. They are constantly
          on the lookout
          for channels to establish a dialogue with peers and management. With the growth of social media and an influx
          of
          young talent, it is but a fact that employees are talking about their employers more than ever. It is time to
          connect!
        </p>
        <p>
          How can we help?
          <span class="bold">From facilitating town halls or communicating your brand story through a video, to policy
            rollouts &amp; internal
            branding,
          </span> our team of creative thinkers and designers are equipped to manage all your communication needs.
          <span class="bold">Creative campaigns &amp; monthly newsletters to developing your intranet or providing
            recruitment media services,</span>
          you can count on us.
        </p>
        <p>
          That's not all. Our enthusiasm and sheer passion drives us to come up with fresh ideas. <a ng-click="changeURL('contact')"
            class="bold blue-color">Go ahead,
            start a conversation.</a>
        </p>
      </div>
    </div>
    <div class="col-md-5 hidden-xs hidden-sm">
      <div class="window-right">
        <img src="img/services/s-6.png" alt="" class="img-responsive">
      </div>
    </div>
    <div class="visible-xs visible-sm">
      <div class="window-right">
        <img src="img/services/s-6.png" alt="" class="img-responsive">
      </div>
    </div>
  </div>
  <div class="grass ab">
    <img src="img/services/grass.png" alt="" class=" img-responsive">
  </div>
  <div class="lamp ab">
    <img src="img/services/orange-lamp.png" alt="" class="">
  </div>
</div>