<div class="quirky rl ">
  <div class="row">
    <div class="col-md-7">
      <div class="hq-cont-yellow">
        <div class="head-tabs">
          <h3 class="head-yellow">
            <!-- <img src="img/icons/quirkey.png" alt="">  -->
            Office Quirkies!
          </h3>
        </div>
        <p class="text-justify">
          Heard about ‘Bophoria?’<br> Well, it’s that moment of joy when your boss lands into trouble!
        </p>
        <p>We’ve been developing a host of
          <span class="bold">unidentified awesome objects</span> [or UAO, as we like to call it] for some time now.
          From ideas on custom merchandise
          to creating welcome kits for your next on-boarding session, feel free to ask us about creating stuff less
          ordinary.
          A special creation for your leadership training program or company anniversary or just something to keep your
          team
          smiling, our customized oddball inventions are sure to leave a mark (maybe literally).</p>
        <p>
          Sounds interesting?
          <br>
          <span class="bold">
            <a href="https://www.willnevergrowup.co.in/" target="_blank" class="blue-color">Check out the range</a>
          </span> and if you are already convinced,
          <span class="bold">
            <a ng-click="changeURL('contact')" class="blue-color">give us a tinkle!</a>
          </span>
        </p>
      </div>
    </div>
    <div class="col-md-5">
      <div class="window-right">
        <img src="img/services/s-9.png" alt="">
      </div>
    </div>
  </div>
  <div class="lamp ab">
    <img src="img/services/doted-lamp.png" alt="">
  </div>
</div>