<div class="row">
  <div class="col-md-8">
    <div class="hq-cont-yellow">
      <div class="head-tabs">
        <h3 class="head-yellow">
          <img src="img/icons/quirkey.png" alt=""> Quirky Merchandise!
        </h3>
      </div>
      <p class="text-justify">
        We’ve been developing <a href="https://www.willnevergrowup.co.in/" target="_blank">‘Office Quirkies’</a> for some time now. From ideas on custom
        merchandise to creating welcome kits for your next on-boarding session, feel free to ask us about creating stuff
        less ordinary. A special creation for your leadership training program or company anniversary or just something to
        keep your team smiling, our customized oddball inventions are sure to leave a mark (maybe literally).
      </p>
      <p>
        Sounds interesting? Check <a href="https://www.willnevergrowup.co.in/" target="_blank">out the range</a>       
         and if you are already convinced, <a ng-click="changeURL('contact')">give us a tinkle!</a>
      </p>
    </div>
  </div>
  <div class="col-md-4">
    <div class="window-right">
      <img src="img/awsomeness/section2/window.png" alt="">
    </div>
  </div>
</div>
<div class="people bt-quirkey">
  <img src="img/others/quirkey.png" alt="" class="ab">
</div>