<div class="row">
  <div class="col-md-8">
    <div class="hq-cont-yellow">
      <div class="head-tabs">
        <h3 class="head-yellow">
          <img src="img/icons/quirkey.png" alt=""> Being Quirkey!
        </h3>
      </div>
      <p class="text-justify">
        From custom made merchandise to creating props for training programs, feel free to ask us about creating stuff less ordinary. A special creation for your company anniversary or just something to keep your team smiling, our customized oddball inventions
        are sure to leave a mark (maybe literally).
      </p>
      <p>
        Sounds interesting?
        <span class="bold">Give us a tinkle!</span>
      </p>
    </div>
  </div>
  <div class="col-md-4">
    <div class="window-right">
      <img src="img/awsomeness/section2/window.png" alt="">
    </div>
  </div>
</div>
<div class="people bt-quirkey">
  <img src="img/others/quirkey.png" alt="" class="ab">
</div>
