<div class="row">
  <div class="col-md-8">
    <div class="hq-cont-yellow">
      <div class="head-tabs">
        <h3 class="head-yellow">
          <img src="img/icons/offsites.png" alt=""> Workshops &amp; Offsites
        </h3>
      </div>
      <p>
        Imagine walking out of your next offsite or team meeting motivated and stress-free. Or suddenly having a work environment where team members [including your boss] actively look forward to interactions. Or imagine yourselfsaying things like ‘We always
        wanted to do this’ much to the delight of people around you. That’s when you know you’ve met Never Grow Up <sup>&reg;</sup>.
      </p>
      <p>
        Learning, tinkering, experimenting, experiencing Eureka moments, creative problem solving and having fun are some serious after-effects.
        <span class="bold">We specialize in creating customized ‘gamified’ programs from 2 hours to 7 days for 10 to 400 people; that address specific business objectives or people issues in a subtle yet creative way.</span>
      </p>
      <p>
        You can
        <span class="bold">ask us to lead change, generate ideas for business, build an effective team by getting them to bond with a sense of collaboration, manage conflict or simply get teams to shed their inhibitions</span> with playful subjects like Theatre, Twilight
        Photography, Video Wars, Bartending &amp; Culinary sessions, Fun with Finance, Recycle Art, Creative Writing, Yoga Therapy, Music &amp; Art Appreciation to name a few.
      </p>
      <p>
        And yes, we have delivered sessions in open offices, cafeterias, over meetings, around roof tops and overseas too.
        <span class="bold">There is a lot more to us than a list. <a href="#/contact">Give us a call or write to us to find out.</a></span>
      </p>
      <p>
        If you have an idea or have something that could charge someone's play (grey) cells, let us know. We would be more than happy to work with your Human Resources Team to co-create a program or conduct a Train the Trainer programthat would spread joy.Click
        here to see what some of our clients and participants have to say!
      </p>
    </div>
  </div>
  <div class="col-md-4">
    <div class="window-right">
      <img src="img/awsomeness/section2/window.png" alt="">
    </div>
  </div>
</div>
<div class="people bt-workshop">
  <img src="img/others/offsites.png" alt="" class="ab">
</div>
