<div class="workshops service-common rl">
  <div class="row">
    <div class="col-md-7">
      <div class="hq-cont-yellow">
        <div class="head-tabs">
          <h3 class="head-yellow">
            <!-- <img src="img/icons/offsites.png" alt="">  -->
            Workshops &amp; Interventions
          </h3>
        </div>
        <p>
          Imagine walking out of your next offsite or team meeting stress-free. Or suddenly having a work environment
          where team members
          empathize with each other. Or imagine finding yourself saying ‘We should do this again!’ That’s when you know
          you’ve
          met Never Grow Up
          <sup>&reg;</sup>.</p>
        <p>
          You can ask us to
          <span class="bold">facilitate change, sensitize people, drive diversity and inclusion by addressing
            unconscious biases, align people
            to vision and culture, address POSH differently, run innovation sessions that generate ideas for business,
            build
            team collaboration, manage conflict creatively or simply get teams to shed their inhibitions</span> using
          the
          Arts.

        </p>
        <p>
          Learning, experimenting, experiencing Eureka moments and having fun are some serious after-effects. We
          specialize in creating
          customized ‘gamified’ interventions
          <span class="bold">lasting 5 hours to 3 days for up to 400 people;</span> that address specific business
          objectives or people issues
          in a ‘Un-Training’ yet creative way.
        </p>
        <p>
          Theatre &amp; Twilight Photography to Video Wars &amp; Bartending &amp; Culinary sessions or Recycle Art to
          Creative Writing,
          Yoga &amp; Colour Therapy and
          <a ng-click="changeURL('unplugged')" class="blue-color">
            ‘Unpluggd’ interventions,
          </a> there is something for everyone.
          <a ng-click="changeURL('contact')" class="blue-color">Give us a call</a>.
        </p>
      </div>
    </div>
    <div class="col-md-5">
      <div class="window-right ">
        <img src="img/services/s-5.png" alt="">
      </div>
    </div>
  </div>
  <div class="wheel ab">
    <img src="img/services/wheel.png" alt="">
  </div>
  <div class="lamp ab">
    <img src="img/services/dark-lamp.png" alt="">
  </div>
</div>