<div class="row">
  <div class="col-md-7">
    <div class="hq">
      <div class="head-tabs">
        <h3 class="head-yellow">
          <img src="img/icons/workspace.png" alt=""> Workspace Design
        </h3>
      </div>
      <p>
        It's a fact that a lot of us work long hours. Sometimes, six days a week. Which means that majority of the time we are awake is spent in our little cubicle (or a corner office if you have one). Now why should that space be boring?
      </p>
      <p>
        Add a <span class="bold">dash of creativity</span> to that boring meeting room or simply do up your cafeteria, lobby or hallway for starters. If you have the desire to make your office a cool space to be in (also be spoken about), just ask us how we can turn your space into a place that employees want to hang out in (and in turn work) longer. After all, they do spend most of their time in the week at work.
      </p>
      <p>
        Sounds interesting? Give us a tinkle!
      </p>
    </div>
  </div>
  <div class="col-md-5">
    <div class="windows">
      <img src="img/awsomeness/section2/window.png" alt="">
    </div>
    <div class="people">
      <img src="img/others/workspace.png" alt="">
    </div>
  </div>
</div>
