<div class="row">
  <div class="col-md-8">
    <div class="hq-cont-yellow">
      <div class="head-tabs">
        <h3 class="head-yellow">
          <!-- <img src="img/icons/workspace.png" alt="">  -->
          Public Relations
        </h3>
      </div>
      <p>
        You’ve built a great Talent strategy and crafted a number of commendable initiatives! It’s now time to get the word out.
      </p>
      <p>
        <span class="bold">From a host of editorial services &amp; press release dissemination</span> to
        <span class="bold">building media relations with key stakeholders</span> our team can ensure that you talent initiatives are noticed
        and recognized. We also counsel and
        <span class="bold">guide CXOs on how to interact with media</span> while
        <span class="bold">we track the coverage</span> that follows.
      </p>
      <p>
        Partnerships to Thought Leadership, there is more to our integrated services when it comes to building your reputation.
        <span class="bold">
          <a ng-click="changeURL('contact')" target="_blank">Let’s Talk?</a>
        </span>
      </p>
    </div>
  </div>
  <div class="col-md-4">
    <div class="window-right">
      <img src="img/services/lamp.png" alt="">
    </div>
  </div>
</div>
<div class="people bt-wrk-space">
  <img src="img/services/s-8.png" alt="" class="ab">
</div>