<div class="awsomeness">
  <div class="container">
    <div class="sky">
      <img src="img/awsomeness/section1/cloud3.png" alt="">
      <img src="img/awsomeness/section1/cloud2.png" alt="">
      <img src="img/awsomeness/section1/sun.png" class="" alt="">
      <img src="img/awsomeness/section1/cloud1.png" alt="">
    </div>
    <div class="head">
      <h3 class="text-center">AWESOMENESS</h3>
    </div>
    <div class="puppet">
      <img src="img/bubble.png" alt="">
      <img src="img/puppet/superman.png" alt="">
      <img src="img/awsomeness/section1/chair.png" alt="">
      <img src="img/bubble.png" alt="">
      <img src="img/puppet/lady1.png" alt="">
      <img src="img/bubble.png" alt="">
      <img src="img/puppet/guy2.png" alt="">
      <img src="img/bubble.png" alt="">
      <img src="img/puppet/lady2.png" alt="">
      <img src="img/puppet/guy1.png" alt="">
      <img src="img/bubble.png" alt="">
    </div>
  </div>
</div>
