<section class="contactus">
    <!-- <div class="window-left ab">
        <img src="img/awsomeness/section2/window.png" alt="" class="img-responsive">
    </div> -->
    <div class="container">
        <div class="contact-padd">
            <div class="row">
                <!-- <div class="col-sm-12">
                        <h2 class="home-head text-lighter contact-detail">Contact Us</h2>
                </div> -->
                <div class="col-sm-6">
                    <div class="contact-people rl">
                        <div class="contact-girl ab">
                            <img src="img/home/contact/c3.png" class="img-responsive ">
                        </div>
                        <div class="contact-boy ab">
                            <img src="img/home/contact/c1.png" class="img-responsive ">
                        </div>
                    </div>
                    <div class="social-icon text-center">
                        <ul>
                            <li>
                                <a href="https://www.linkedin.com/company/1650364?trk=tyah&trkInfo=clickedVertical%3Acompany%2CclickedEntityId%3A1650364%2Cidx%3A3-1-4%2CtarId%3A1455282776964%2Ctas%3Anever%20grow%20up"
                                    target="_blank">
                                    <i class="fa fa-linkedin"></i>
                                </a>
                            </li>
                            <li>
                                <a href="https://twitter.com/HappynessAtWork" target="_blank">
                                    <i class="fa fa-twitter"></i>
                                </a>
                            </li>
                            <li>
                                <a href="https://www.facebook.com/WorkplaceHappyness" target="_blank">
                                    <i class="fa fa-facebook"></i>
                                </a>
                            </li>
                            <li>
                                <a href="https://www.instagram.com/HappynessAtWork/" target="_blank">
                                    <i class="fa fa-instagram"></i>
                                </a>
                            </li>
                            <!-- <li>
                                <a href=" https://plus.google.com/+NeverGrowUpWPL" target="_blank">
                                    <i class="fa fa-google-plus"></i>
                                </a>
                            </li> -->
                        </ul>
                    </div>
                </div>
                <div class="col-sm-6">
                    <h2 class="home-head text-lighter contact-detail white-color">Contact Us</h2>
                    <div class="contact-info">
                        <div class="contact-detail">
                            <!-- <p class="text-justify">For details on our engagement solutions, ideas on how to make life at work more interesting or
                                        to address any specific requirement for your organization, reach out to us at</p> -->
                            <p class="text-justify white-color">
                                For details on our engagement and work culture solutions, ideas on how to make life at
                                work awesome or to address specific
                                requirements for your organization, reach out to us at
                            </p>
                            <a href="mailto:info@willnevergrowup.com" class="block text-bold blue-color">info@willnevergrowup.com</a>
                            <span class="space text-lighter block white-color">or</span>
                            <span class="text-lighter white-color">Call us on
                                <a href="tel:+919892338317" class="white-color"> +91 98923 38317</a> /
                                <a href="tel:+919136939343" class="white-color"> +91 91369 39343</a>
                            </span>

                        </div>
                    </div>
                    <div class="contact-detail contact-detail-form">
                        <form name="contactFormValid" ng-hide="contactFormComplete">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <input type="text" class="form-control" placeholder="Name :" name="myName"
                                            ng-model="contactForm.name" required>
                                        <div ng-show="contactFormValid.myName.$error.required && contactFormValid.myName.$touched"
                                            class="white-color">
                                            Please Enter your Name
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <input type="tel" class="form-control" placeholder="Number :" name="myNumber"
                                            ng-model="contactForm.phone" required>
                                        <div ng-show="contactFormValid.myNumber.$error.required && contactFormValid.myNumber.$touched"
                                            role="alert" class="white-color">
                                            Please Enter your Number
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="Email :" name="myEmail" ng-model="contactForm.email"
                                    required>
                                <div ng-show="contactFormValid.myEmail.$error.required && contactFormValid.myEmail.$touched"
                                    role="alert" class="white-color">
                                    Please Enter your Email
                                </div>
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="Organization :" name="myOrganisation"
                                    ng-model="contactForm.organization" required>
                                <div ng-show="contactFormValid.myOrganisation.$error.required && contactFormValid.myOrganisation.$touched"
                                    role="alert" class="white-color">
                                    Please Enter your Organization Name
                                </div>
                            </div>
                            <div class="form-group">
                                <textarea id="" rows="3" class="form-control" placeholder="Query :" name="myQuery"
                                    ng-model="contactForm.query" required></textarea>
                                <div ng-show="contactFormValid.myQuery.$error.required && contactFormValid.myQuery.$touched"
                                    role="alert" class="white-color">
                                    Please Enter your Query
                                </div>
                            </div>
                            <div class="text-center">
                                <button class="submit btn" ng-click="submitContact(contactForm,contactFormValid)">Submit</button>
                            </div>
                        </form>
                        <h4 ng-show="contactFormComplete" class="thankyou">Thank you for Contacting Us</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="mail">
        <!-- <div class="contact-girl ab">
      <img src="img/home/contact-girl.png" alt="" class="img-responsive">
    </div> -->
        <!-- <div class="contact-boy ab">
            <img src="img/gif/floating-communications.gif" alt="" class="img-responsive">
        </div> -->
        <div class="email ab">
            <img src="img/bubble-red.png" alt="" class="img-responsive">
        </div>
    </div>
    <!-- <div class="door ab">
        <img src="img/home/door.png" alt="" class="img-responsive">
    </div> -->
    <div class="floor contact-floor rl">
        <img src="img/common-floor1.png" alt="" class="img-responsive">
    </div>
</section>