<section class="client pt100">
  <div class="pb50">
    <div class="container">
      <h2 class="home-head">Clients</h2>
      <div class="client-slider">
        <div class="col-md-offset-1 col-md-10">
          <div class="slider-client">
            <flex-slider flex-slide="slide in clients track by $index" animation="slide" animation-loop="false" as-nav-for="#sliders" slideshow="false">
              <li class="" >
                <div class="logos" >
                    <div class="row bb" ng-repeat="row in slide">
                    <div class="col-md-3 col-xs-6" ng-repeat="client in row">
                      <div class="image-holder text-center">
                        <img ng-src="{{client.image}}" class="doneLoading" alt="">
                      </div>
                    </div>
                  </div>
                </div>
              </li>
            </flex-slider>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="client-happy ab">
    <img src="img/gif/FLYING-CLIENT.gif" alt="" class="img-responsive">
  </div>
  <div class="floor ab">
    <img src="img/floor.jpg" alt="" class="">
  </div>
</section>
